@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.mainWindow {
  position: absolute;
  width: 99%;
  height: 81.5%;
  bottom: 6.5%;
  right: 0.5%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, backdrop-filter 0.4s ease, box-shadow 0.1s ease, border 0.1s ease, fill 0.4s ease;
}

.mainWindow:hover {
  user-select: none;
}
.mainWindow:hover.hoverable {
  width: calc(99% + 0.2em);
  height: calc(87% + 0.2em - 5.5%);
  right: calc(0.5% - 0.1em);
  bottom: calc(1% - 0.1em + 5.5%);
  border-radius: calc(13.6px + (12.5vh - 0.5%) * 1 + 0.1em - (12.5vh - 0.5%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  background-color: rgba(37, 37, 42, 0.9058823529);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.menuOpen-mainWindow {
  width: calc(99% - (12.5vh - 0.5% + 10.25%) - 0.5%);
  height: 81.5%;
  bottom: 6.5%;
  right: 0.5%;
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.menuOpen-mainWindow:hover {
  user-select: none;
}
.menuOpen-mainWindow:hover.hoverable {
  width: calc(99% + 0.2em - (12.5vh - 0.5% + 10.25%) - 0.5%);
  height: calc(87% + 0.2em - 5.5%);
  right: calc(0.5% - 0.05em);
  bottom: calc(1% - 0.1em + 5.5%);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.waybar {
  position: absolute;
  width: calc(99% - 12.5vh);
  height: 10.25%;
  top: 1%;
  right: 0.5%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, backdrop-filter 0.4s ease, box-shadow 0.1s ease, border 0.1s ease, fill 0.4s ease;
}

.waybar:hover {
  width: calc((99% - 12.5vh) * 1 + 0.2em);
  height: calc(10.25% + 0.2em);
  right: calc(0.5% - 0.05em);
  top: calc(1% - 0.1em);
  border-radius: calc(13.6px + (12.5vh - 0.5%) * 1 + 0.1em - (12.5vh - 0.5%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  background-color: rgba(37, 37, 42, 0.9058823529);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.menuOpen-waybar {
  width: calc(99% - (12.5vh - 0.5% + 10.25%) - 0.5%);
  height: 10.25%;
  top: 1%;
  right: 0.5%;
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.menuOpen-waybar:hover {
  width: calc(99% + 0.2em - (12.5vh - 0.5% + 10.25%) - 0.5%);
  height: calc(10.25% + 0.2em);
  right: calc(0.5% - 0.05em);
  top: calc(1% - 0.1em);
}

.iframeWindow {
  position: absolute;
  width: 99%;
  height: 87%;
  bottom: 1%;
  right: 0.5%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(0, 0);
  transition: width 0.4s ease, height 0.4s ease, right 0.4s ease, bottom 0.4s ease, transform 0.4s ease, box-shadow 0.1s ease, border 0.1s ease, border-radius 0.4s ease;
}

.iframeWindow:hover {
  width: calc(99% + 0.2em);
  height: calc(87% + 0.2em);
  right: calc(0.5% - 0.1em);
  bottom: calc(1% - 0.1em);
  border-radius: calc(13.6px + (12.5vh - 0.5%) * 1 + 0.1em - (12.5vh - 0.5%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
}

.menuOpen-iframeWindow {
  width: calc(99% - (12.5vh - 0.5% + 10.25%) - 0.5%);
  height: 87%;
  bottom: 1%;
  right: 0.5%;
}

.menuOpen-iframeWindow:hover {
  width: calc(99% + 0.2em - (12.5vh - 0.5% + 10.25%) - 0.75% + 0.5% - 0.1em);
  height: calc(87% + 0.2em);
  right: calc(0.5% - 0.1em);
  bottom: calc(1% - 0.1em);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
}

.menu {
  position: absolute;
  width: calc(12.5vh - 0.5%);
  height: 10.25%;
  top: 1%;
  left: 0.5%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, box-shadow 0.1s ease, border 0.1s ease, border-radius 0.4s ease, stroke 0.4s ease, fill 0.4s ease, font-size 0.4s ease;
}
.menu .menuIcon {
  fill: #ffffff;
  stroke: #ffffff;
  height: 112.5%;
  transition: none;
}
.menu .menuLogo {
  font-style: normal;
  text-decoration: none;
  font-family: "Open Sans";
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0);
  color: transparent;
  user-select: none;
  cursor: default;
  font-size: 0;
}

.menu:hover {
  width: calc((12.5vh - 0.5%) * 1 + 0.2em);
  height: calc(10.25% + 0.2em);
  left: calc(0.5% - 0.1em);
  top: calc(1% - 0.1em);
  border-radius: calc(13.6px + (12.5vh - 0.5%) * 1 + 0.1em - (12.5vh - 0.5%) + 2px);
  background-color: rgba(37, 37, 42, 0.9058823529);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.menu.menuOpen {
  position: absolute;
  width: calc(12.5vh - 0.5% + 10.25%);
  height: 10.25%;
  top: 1%;
  left: 0.5%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  background-color: rgba(37, 37, 42, 0.8196078431);
  backdrop-filter: blur(0.1875em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}
.menu.menuOpen .menuIcon {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0);
  height: 0;
  width: 0;
}
.menu.menuOpen .menuLogo {
  fill: #ffffff;
  stroke: #ffffff;
  color: aliceblue;
  cursor: pointer;
  font-size: 7vh;
  font: "Open Sans";
  text-decoration: none;
}

.menu.menuOpen:hover {
  width: calc((12.5vh - 0.375% + 10.25%) * 1 + 0.2em);
  height: calc(10.25% + 0.2em);
  left: calc(0.5% - 0.1em);
  top: calc(1% - 0.1em);
  border-radius: calc(13.6px + (12.5vh - 0.5%) * 1 + 0.1em - (12.5vh - 0.5%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  background-color: rgba(37, 37, 42, 0.8196078431);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  backdrop-filter: blur(0.25em) brightness(0.9) contrast(1.15);
}

.fullMenu {
  position: absolute;
  width: calc(12.5vh - 0.5% + 10.25%);
  height: 81.5%;
  bottom: 6.5%;
  left: -20%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border: 1.75px solid linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(156, 156, 156, 0.3568627451) 100%);
  background-color: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(37, 37, 42, 0.8196078431) 100%);
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.menuOpen-fullMenu {
  width: calc(12.5vh - 0.5% + 10.25%);
  height: 81.5%;
  bottom: 6.5%;
  left: 0.5%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  background-color: rgba(37, 37, 42, 0.8196078431);
  backdrop-filter: blur(0.1875em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.menuOpen-fullMenu:hover {
  width: calc((12.5vh - 0.375% + 10.25%) * 1 + 0.2em);
  height: calc(87% + 0.2em - 5.5%);
  bottom: calc(1% - 0.1em + 5.5%);
  left: calc(0.5% - 0.1em);
  border-radius: calc(13.6px + (12.5vh - 0.5%) * 1 + 0.1em - (12.5vh - 0.5%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  background-color: rgba(37, 37, 42, 0.8196078431);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  backdrop-filter: blur(0.25em) brightness(0.9) contrast(1.15);
}

.botBar {
  user-select: none;
  font-style: normal;
  text-decoration: none;
  font-family: "Open Sans";
  position: absolute;
  font-size: 2.75vh;
  margin: 0;
  padding: 0;
  bottom: 1%;
  color: #fdfdfd;
  height: 4.5%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  transition: background-color 0.4s ease, transform 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, backdrop-filter 0.4s ease, box-shadow 0.1s ease, border 0.1s ease, fill 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
}
.botBar:hover {
  height: calc(4.5% + 0.2em);
  bottom: calc(1% - 0.1em);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  background-color: rgba(37, 37, 42, 0.9058823529);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.hidden {
  display: none;
}

.clock {
  left: 48%;
  transform: translateX(-50%);
  width: 7%;
}
.clock:hover {
  width: calc(7% + 0.1em);
  cursor: pointer;
}

.discord {
  left: 0.5%;
  width: 9%;
}
.discord:hover {
  width: calc(9% + 0.1em);
}

/*
.discord {
    left: center; // which is 0.5%, how about
    transform: translateX(calc($uniMargin/0.09)); // translateX(uniMargin/(perToInt(width)/100) * 1%)
    width: 9%; // const
    &:hover {
        width: calc(9% * $hoverCoefficient + $hoverConst);
        transform: translateX(calc($uniMargin/0.09 - $uniMargin * ($uniMargin * 6) / 1%))
    }
}
*/
.githubLink {
  left: 10%;
  width: 8%;
}
.githubLink:hover {
  width: calc(8% + 0.1em);
}

.email {
  right: 0.5%;
  width: 8%;
}
.email:hover {
  width: calc(8% + 0.1em);
}

.credits {
  right: 9%;
  width: 7%;
}
.credits:hover {
  width: calc(7% + 0.1em);
}

.battery {
  left: 52%;
  width: 5%;
}
.battery:hover {
  width: calc(5% + 0.1em);
  transform: translateX(-2.5%);
  cursor: pointer;
}

.hidden {
  display: none;
}

#emailPopup {
  display: flex;
  width: 30%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  user-select: none;
  font-style: normal;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 2.75vh;
  margin: 0;
  padding: 0;
  bottom: 1%;
  color: #fdfdfd;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, backdrop-filter 0.4s ease, box-shadow 0.1s ease, border 0.1s ease, fill 0.4s ease;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
}
#emailPopup:hover {
  height: calc(20% + 0.2em);
  width: calc(30% + 0.2em);
  bottom: calc(1% - 0.1em);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  background-color: rgba(37, 37, 42, 0.9058823529);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}
#emailPopup.hidden {
  display: none;
}

#emailPopupBg {
  display: flex;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8549019608);
  backdrop-filter: blur(0.5em);
  z-index: 1000;
}
#emailPopupBg.hidden {
  display: none;
}

#creditsPopup {
  display: flex;
  width: 30%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  user-select: none;
  font-style: normal;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 2.75vh;
  margin: 0;
  padding: 0;
  bottom: 1%;
  color: #fdfdfd;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, backdrop-filter 0.4s ease, box-shadow 0.1s ease, border 0.1s ease, fill 0.4s ease;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
}
#creditsPopup:hover {
  height: calc(20% + 0.2em);
  width: calc(30% + 0.2em);
  bottom: calc(1% - 0.1em);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  background-color: rgba(37, 37, 42, 0.9058823529);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}
#creditsPopup.hidden {
  display: none;
}

#creditsPopupBg {
  display: flex;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8549019608);
  backdrop-filter: blur(0.5em);
  z-index: 1000;
}
#creditsPopupBg.hidden {
  display: none;
}

/*
  &.hidden {
        background-color: #00000000;
        backdrop-filter: blur(0px);
        width: 20%;
        height: 15%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #00000000;
        border: 0 solid #00000000;
        border-radius: $borderRad * 1.25;
        box-shadow: 0 0 0 #00000000;
        visibility: hidden;
        transition-delay: 1s
  }
*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(https://w.wallhaven.cc/full/wy/wallhaven-wyp7ep.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#particles-js {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}/*# sourceMappingURL=index.css.map */