.iframeWindow {
    position: absolute; // Absolute positioning
    @if $uniMargin != 0% {
        width: calc((100% - (2 * $uniMargin))); // Width adjusted for uniform margin
        height: calc(100% - $uniMargin - $waybarHeight); // Height considering uniform margin and waybar height
        bottom: calc(2 * ($uniMargin));
        right: $uniMargin;
    } @else {
        width: calc((100% - (2 * $sideMargin)));
        height: calc(100% - $bottomMargin - $waybarHeight);
        bottom: calc(2 * ($bottomMargin));
        right: $sideMargin;
    }
    border: $borderThickness solid $borderCol; // Border styling
    border-radius: $borderRad;
    box-shadow: $shadowRad $shadowCol;
    box-sizing: border-box; // Ensures consistent box model
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(0, 0);
    transition: 
        width $transitionSpeed ease,
        height $transitionSpeed ease,
        right $transitionSpeed ease,
        bottom $transitionSpeed ease,
        transform $transitionSpeed ease,
        box-shadow $fastTransitionSpeed ease,
        border $fastTransitionSpeed ease,
        border-radius $transitionSpeed ease; // Smooth transitions for various properties
}

.iframeWindow:hover {
    @if $uniMargin != 0% {
        width: calc((((100% - (2 * $uniMargin))) * $hoverCoefficient) + $hoverConst); // Hover effect for width
        height: calc(((100% - $uniMargin - $waybarHeight) * $hoverCoefficient) + $hoverConst); // Hover effect for height
        right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        bottom: calc(2 * $uniMargin - (((100% - $uniMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        border-radius: calc(($borderRad * $hoverBorderRad) + (((((perToInt($waybarHeight) * 1vh - ($uniMargin)) * $hoverCoefficient) + ($hoverConst * perToInt($uniMargin)))) - (perToInt($waybarHeight) * 1vh - ($uniMargin))) + (($borderRad * $hoverBorderRad) / ((($borderRad * $hoverBorderRad) / 1px) / 2)));
    } @else {
        width: calc((((100% - (2 * $sideMargin))) * $hoverCoefficient) + $hoverConst);
        height: calc(((100% - $bottomMargin - $waybarHeight) * $hoverCoefficient) + $hoverConst);
        right: calc($sideMargin - (((100% - (2 * $sideMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        bottom: calc(2 * $bottomMargin - (((100% - $sideMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        border-radius: calc(($borderRad * $hoverBorderRad) + (((((perToInt($waybarHeight) * 1vh - ($bottomMargin)) * $hoverCoefficient) + ($hoverConst * perToInt($bottomMargin)))) - (perToInt($waybarHeight) * 1vh - ($sideMargin))) + (($borderRad * $hoverBorderRad) / ((($borderRad * $hoverBorderRad) / 1px) / 2)));
    }
    box-shadow: $hoverShadowRad $hoverShadowCol; // Box shadow styling
    border: $hoverBorderThickness solid $hoverBorderCol; // Border styling on hover
}

.menuOpen-iframeWindow {
    @if $uniMargin != 0% {
        width: calc((100% - (2 * $uniMargin)) - (((perToInt($waybarHeight) * 1vh - ($uniMargin))) + (((($waybarHeight) - 2.25 * (2 * $uniMargin))))) - $uniMargin); // Width adjusted for uniform margin
        height: calc(100% - $uniMargin - $waybarHeight); // Height considering uniform margin and waybar height
        bottom: calc(2 * ($uniMargin));
        right: $uniMargin;
    } @else {
        width: calc((100% - (2 * $sideMargin)) - (((perToInt($waybarHeight) * 1vh - ($sideMargin))) + (((($waybarHeight) - 2.25 * (2 * $sideMargin))))) - $sideMargin);
        height: calc(100% - $bottomMargin - $waybarHeight);
        bottom: calc(2 * ($bottomMargin));
        right: $sideMargin;
    }
}
.menuOpen-iframeWindow:hover {
    @if $uniMargin != 0% {
        width: calc((((100% - (2 * $uniMargin))) * $hoverCoefficient) + $hoverConst  - (((perToInt($waybarHeight) * 1vh - ($uniMargin))) + (((($waybarHeight) - 2.25 * (2 * $uniMargin))))) - (1.5 * $uniMargin) + ($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2))); // Hover effect for width
        height: calc(((100% - $uniMargin - $waybarHeight) * $hoverCoefficient) + $hoverConst); // Hover effect for height
        right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        bottom: calc(2 * $uniMargin - (((100% - $uniMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
    } @else {
        width: calc((((100% - (2 * $sideMargin))) * $hoverCoefficient) + $hoverConst  - (((perToInt($waybarHeight) * 1vh - ($sideMargin))) + (((($waybarHeight) - 2.25 * (2 * $sideMargin))))) - (1.5 * $sideMargin) + ($sideMargin - (((100% - (2 * $sideMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2)));
        height: calc(((100% - $bottomMargin - $waybarHeight) * $hoverCoefficient) + $hoverConst);
        right: calc($sideMargin - (((100% - (2 * $sideMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        bottom: calc(2 * $bottomMargin - (((100% - $sideMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
    }
    box-shadow: $hoverShadowRad $hoverShadowCol; // Box shadow styling
    border: $hoverBorderThickness solid $hoverBorderCol; // Border styling on hover
}