@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import "index.scss";

.iframeWindow404 {
    z-index: 100000;
    position: absolute; // Absolute positioning
    width: calc((100% - (2 * $uniMargin))); // Width adjusted for uniform margin
    height: calc(100% - $uniMargin * 2 - ($botBarHeight)); // Height considering uniform margin and waybar height
    bottom: calc(($uniMargin) + ($botBarHeight));
    right: $uniMargin;
    border: $borderThickness solid $borderCol; // Border styling
    border-radius: $borderRad;
    box-shadow: $shadowRad $shadowCol;
    box-sizing: border-box; // Ensures consistent box model
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $windowCol;
    transition: all $transitionSpeed ease;
}

.iframeWindow404:hover {
    user-select: none;
    &.hoverable {
        width: calc((100% - (2 * $uniMargin)) * $hoverCoefficient + $hoverConst);
        height: calc(((100% - $uniMargin * 2) * $hoverCoefficient) + $hoverConst - ($botBarHeight)); // Hover effect for height
        right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        bottom: calc((($uniMargin) + ($botBarHeight)) * $hoverCoefficient - ($hoverConst / 2));
        border-radius: calc(($borderRad * $hoverBorderRad) + (((($waybarHeight - ($uniMargin) * $hoverCoefficient) + ($hoverConst * $uniMargin / 1vh))) - ($waybarHeight - ($uniMargin))) + (($borderRad * $hoverBorderRad) / ((($borderRad * $hoverBorderRad) / 1px) / 2)));
        box-shadow: $hoverShadowRad $hoverShadowCol; // Box shadow styling
        border: $hoverBorderThickness solid $hoverBorderCol; // Border styling on hover
    }
}

.backToApp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: $waybarHeight;
    height: $waybarHeight;
    background-color: $frontElementCol;
    padding: 0.5em;
    border-radius: $borderRad;
    z-index: 999985;
    border: $borderThickness solid $borderCol; // Border styling
    box-shadow: $shadowRad $shadowCol;
    left: calc($uniMargin * 2);
    top: calc($uniMargin * 2);
    font-size: 3vh;
    color: $menuButtonCol;
    text-decoration: none;
    &:hover {
        width: calc($waybarHeight * $hoverCoefficient + $hoverConst);
        height: calc($waybarHeight * $hoverCoefficient + $hoverConst); // Hover effect for height
        left: calc(($uniMargin * 2) * $hoverCoefficient - $hoverConst / 2);
        top: calc(($uniMargin * 2) * $hoverCoefficient - $hoverConst / 2);
        box-shadow: $hoverShadowRad $hoverShadowCol; // Box shadow styling
        border: $hoverBorderThickness solid $hoverBorderCol; // Border styling on hover
        cursor: pointer;
    }
}