@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import 'index.scss';

.iframeWindow404 {
	z-index: 100000;
	position: absolute;
	width: calc((100% - (2 * var(--uniMargin))));
	height: calc(100% - var(--uniMargin) * 2 - (var(--botBarHeight)));
	bottom: calc((var(--uniMargin)) + (var(--botBarHeight)));
	right: var(--uniMargin);
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--windowCol);
	transition: all var(--transitionSpeed) ease;
}

.iframeWindow404:hover {
	user-select: none;
	&.hoverable {
		width: calc(
			(100% - (2 * var(--uniMargin))) * var(--hoverCoefficient) +
				var(--hoverConst)
		);
		height: calc(
			((100% - var(--uniMargin) * 2) * var(--hoverCoefficient)) +
				var(--hoverConst) - (var(--botBarHeight))
		);
		right: calc(
			var(--uniMargin) -
				(
					(
							(100% - (2 * var(--uniMargin))) *
								(var(--hoverCoefficient) - 1)
						) / 2
				) - (var(--hoverConst) / 2)
		);
		bottom: calc(
			((var(--uniMargin)) + (var(--botBarHeight))) *
				var(--hoverCoefficient) - (var(--hoverConst) / 2)
		);
		border-radius: calc(var(--borderRad) * var(--hoverBorderRad));
		box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
		border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	}
}

.backToApp {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: var(--waybarHeight);
	height: var(--waybarHeight);
	background-color: var(--frontElementCol);
	padding: 0.5em;
	border-radius: var(--borderRad);
	z-index: 999985;
	border: var(--borderThickness) solid var(--borderCol);
	box-shadow: var(--shadowRad) var(--shadowCol);
	left: calc(var(--uniMargin) * 2);
	top: calc(var(--uniMargin) * 2);
	font-size: 3vh;
	color: var(--menuButtonCol);
	text-decoration: none;
	transition: all var(--transitionSpeed) ease;
	&:hover {
		width: calc(
			var(--waybarHeight) * var(--hoverCoefficient) + var(--hoverConst)
		);
		height: calc(
			var(--waybarHeight) * var(--hoverCoefficient) + var(--hoverConst)
		);
		left: calc(
			(var(--uniMargin) * 2) * var(--hoverCoefficient) - var(--hoverConst) /
				2
		);
		top: calc(
			(var(--uniMargin) * 2) * var(--hoverCoefficient) - var(--hoverConst) /
				2
		);
		box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
		border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
		cursor: pointer;
	}
}
