.botBar {
    user-select: none;
    font-style: normal;
    text-decoration: none;
    font-family: 'Open Sans';
    position: absolute;
    font-size: calc(2.75vh * $botBarFontSize);
    margin: 0;
    padding: 0;
    bottom: calc($uniMargin);
    color: #fdfdfd;
    height: $botBarHeight - $uniMargin;
    border: $borderThickness solid $borderCol;
    border-radius: $borderRad;
    box-shadow: $shadowRad $shadowCol;
    backdrop-filter:
        blur($windowBlur)
        brightness($windowBrightness)
        contrast($windowContrast);
    box-sizing: border-box;
    transition:
        background-color $transitionSpeed ease,
        transform $transitionSpeed ease,
        width $transitionSpeed ease,
        height $transitionSpeed ease,
        left $transitionSpeed ease,
        bottom $transitionSpeed ease,
        right $transitionSpeed ease,
        top $transitionSpeed ease,
        border-radius $transitionSpeed ease,
        stroke $transitionSpeed ease,
        backdrop-filter $transitionSpeed ease,
        box-shadow $transitionSpeed ease,
        border $transitionSpeed ease,
        fill $transitionSpeed ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $windowCol;

    &:hover {
        height: calc((($botBarHeight - $uniMargin) * $hoverCoefficient) + ($hoverConst));
        bottom: calc($uniMargin - (((100% - $uniMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        box-shadow: $hoverShadowRad $hoverShadowCol;
        border: $hoverBorderThickness solid $hoverBorderCol;
        background-color: $hoverWindowCol;
        backdrop-filter:
            blur($hoverWindowBlur)
            brightness($hoverWindowBrightness)
            contrast($hoverWindowContrast);
    }
}

.hidden {
    display: none;
}

.clock {
    left: calc(50vw - ($uniMargin / 2) - 7vh);
    transform: translateX(-50%);
    width: 14vh;

    &:hover {
        width: calc(14vh * $hoverCoefficient + ($hoverConst / 2));
        cursor: pointer;
    }
}

.discord {
    left: calc($uniMargin + (($fullMenuSize) / 2));
    width: $fullMenuSize;
    transform: translateX(-50%);

    &:hover {
        width: calc(fullMenuSize * $hoverCoefficient + ($hoverConst / 2));
    }
}

.githubLink {
    left: calc($uniMargin + (($fullMenuSize) / 2) * 2 + $uniMargin + 8vh);
    width: 16vh;
    transform: translateX(-50%);

    &:hover {
        width: calc(16vh * $hoverCoefficient + ($hoverConst / 2));
    }
}

.email {
    right: calc(($uniMargin) + 8vh);
    width: 16vh;
    transform: translateX(50%);

    &:hover {
        width: calc(16vh * $hoverCoefficient + ($hoverConst / 2));
        cursor: pointer;
    }
}

.credits {
    right: calc((($uniMargin) + 8vh) + $uniMargin + 8vh);
    width: 16vh;

    &:hover {
        width: calc(16vh * $hoverCoefficient + ($hoverConst / 2));
        cursor: pointer;
    }
}

.battery {
    right: calc(50vw - ($uniMargin / 2) - 5vh);
    transform: translateX(50%);
    width: 10vh;

    &:hover {
        width: calc(10vh * $hoverCoefficient + ($hoverConst / 2));
        cursor: pointer;
    }
}
