.mainWindow {
    position: absolute; // Absolute positioning
    width: calc((100vw - (2 * $uniMargin))); // Width adjusted for uniform margin
    height: calc(100% - $waybarHeight - ($botBarHeight) + $uniMargin * 1.5); // Height considering uniform margin and waybar height
    bottom: calc(($uniMargin) + ($botBarHeight));
    right: $uniMargin;
    border: $borderThickness solid $borderCol; // Border styling
    border-radius: $borderRad;
    box-shadow: $shadowRad $shadowCol;
    background-color: $windowCol;
    backdrop-filter:
        blur($windowBlur)
        brightness($windowBrightness)
        contrast($windowContrast);
    box-sizing: border-box; // Ensures consistent box model
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition:
        background-color $transitionSpeed ease,
        width $transitionSpeed ease,
        height $transitionSpeed ease,
        left $transitionSpeed ease,
        bottom $transitionSpeed ease,
        right $transitionSpeed ease,
        top $transitionSpeed ease,
        transform $transitionSpeed ease,
        border-radius $transitionSpeed ease,
        stroke $transitionSpeed ease,
        border $transitionSpeed ease,
        box-shadow $transitionSpeed ease,
        backdrop-filter $transitionSpeed ease,
        fill $transitionSpeed ease;
}

.mainWindow:hover {
    user-select: none;
    &.hoverable {
        width: calc((100% - (2 * $uniMargin)) * $hoverCoefficient + $hoverConst);
        height: calc(((100% - $waybarHeight) * $hoverCoefficient) + $hoverConst - ($botBarHeight) + 1.5 * $uniMargin); // Hover effect for height
        right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        bottom: calc((($uniMargin) + ($botBarHeight)) * $hoverCoefficient - ($hoverConst / 2));
        border-radius: calc(($borderRad * $hoverBorderRad) + (((($waybarHeight - ($uniMargin) * $hoverCoefficient) + ($hoverConst * $uniMargin / 1vh))) - ($waybarHeight - ($uniMargin))) + (($borderRad * $hoverBorderRad) / ((($borderRad * $hoverBorderRad) / 1px) / 2)));
        box-shadow: $hoverShadowRad $hoverShadowCol; // Box shadow styling
        border: $hoverBorderThickness solid $hoverBorderCol; // Border styling on hover
        background-color: $hoverWindowCol;
        backdrop-filter:
            blur($hoverWindowBlur)
            brightness($hoverWindowBrightness)
            contrast($hoverWindowContrast);
    }
}

.menuOpen-mainWindow {
    width: calc(((100% - ($uniMargin))) - $fullMenuSize - 2 * $uniMargin); // Width adjusted for uniform margin
    height: calc(100% - $waybarHeight - ($botBarHeight) + $uniMargin * 1.5);  // Height considering uniform margin and waybar height
    bottom: calc(($botBarHeight + $uniMargin));
    right: $uniMargin;
    backdrop-filter:
        blur(calc($hoverWindowBlur * 1))
        brightness(calc($hoverWindowBrightness * 1))
        contrast(calc($hoverWindowContrast * 1));
}

.menuOpen-mainWindow:hover {
    user-select: none;
    &.hoverable {
        width: calc(((((100% - ($uniMargin)) * $hoverCoefficient) + $hoverConst)) - $fullMenuSize - 2 * $uniMargin); // Hover effect for width
        height: calc(((100% - $waybarHeight) * $hoverCoefficient) + $hoverConst - ($botBarHeight - 1.5 * $uniMargin)); // Hover effect for height
        right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 4));
        bottom: calc((($uniMargin) + ($botBarHeight)) * $hoverCoefficient - ($hoverConst / 2));
        backdrop-filter:
            blur(calc($hoverWindowBlur * 1))
            brightness(calc($hoverWindowBrightness * 1))
            contrast(calc($hoverWindowContrast * 1));
    }
}
