@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import '_variables.scss';
@font-face {
	font-family: cursive2;
	src: url('../assets/cursive.ttf');
}

body {
	font-family: 'Open Sans';
	background-color: var(--debugBg);
	color: var(--textCol);
	margin: 0;
	padding: calc(var(--uniMargin) * 2);
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: auto;
	user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-webkit-user-select: none !important;
}

$topBarWidth: 47vw;

.title {
	position: sticky;
	top: calc(var(--uniMargin) + 1vh);
	z-index: 999987;
	width: calc($topBarWidth + var(--uniMargin) * 2);
	height: calc(7vh + var(--uniMargin) * 2);
	backdrop-filter: blur(var(--hoverWindowBlur));
	border-radius: var(--borderRad);
}

.topButton {
	transform: translateX(var(--uniMargin)) translateY(var(--uniMargin));
	font-size: 1vw;
	padding: 0.5vw;
	margin: 0.1vw;
	border-radius: var(--borderRad);
	background-color: transparent;
	border: var(--borderThickness) solid var(--hoverBorderCol);
	color: var(--textCol);
	transition: all var(--transitionSpeed) ease;
	&:hover {
		background-color: color-mix(
			in srgb,
			var(--hoverBorderCol) 20%,
			transparent
		);
		text-shadow: 0px 0px 6px var(--hoverBorderCol);
		cursor: pointer;
	}
}

.crllectButton {
	font-family: cursive2 !important;
	font-size: 1.8vw;
	padding: 0vw;
	margin: 0vw;
	border: none !important;
	background-color: transparent !important;
	text-shadow: none !important;
	transform: translateY(30%) translateX(6%);
	cursor: default !important;
	color: var(--textCol) !important;
}

.settingsSeparator {
	display: block;
	background-color: var(--borderCol);
	padding: 0;
	margin: 0;
	margin-top: var(--uniMargin);
	margin-bottom: 6vh;
	width: $topBarWidth;
	transform: translateX(var(--uniMargin)) translateY(var(--uniMargin));
	height: var(--borderThickness);
}

.content {
	margin-top: 5vh;
}

.selected {
	background-color: color-mix(
		in srgb,
		var(--hoverBorderCol) 20%,
		transparent
	);
	text-shadow: 0px 0px 6px var(--hoverBorderCol);
	cursor: default !important;
	pointer-events: none !important;
}

@media (max-width: 600px) {
	.presetGrid {
		grid-template-columns: 1fr;
	}
}
