.iframeWindowOpen {
    z-index: 100000;
    position: absolute; // Absolute positioning
    width: calc((100% - (2 * $uniMargin))); // Width adjusted for uniform margin
    height: calc(100% - $waybarHeight - ($botBarHeight) + $uniMargin * 1.5); // Height considering uniform margin and waybar height
    bottom: calc(($uniMargin) + ($botBarHeight));
    right: $uniMargin;
    border: $borderThickness solid $borderCol; // Border styling
    border-radius: $borderRad;
    box-shadow: $shadowRad $shadowCol;
    box-sizing: border-box; // Ensures consistent box model
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $windowCol;
    transition: all $transitionSpeed ease;
}

.iframeWindowOpen:hover {
    user-select: none;
    &.hoverable {
        width: calc((100% - (2 * $uniMargin)) * $hoverCoefficient + $hoverConst);
        height: calc(((100% - $waybarHeight) * $hoverCoefficient) + $hoverConst - ($botBarHeight) + 1.5 * $uniMargin);// Hover effect for height
        right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        bottom: calc((($uniMargin) + ($botBarHeight)) * $hoverCoefficient - ($hoverConst / 2));
        border-radius: calc(($borderRad * $hoverBorderRad) + (((($waybarHeight - ($uniMargin) * $hoverCoefficient) + ($hoverConst * $uniMargin / 1vh))) - ($waybarHeight - ($uniMargin))) + (($borderRad * $hoverBorderRad) / ((($borderRad * $hoverBorderRad) / 1px) / 2)));
        box-shadow: $hoverShadowRad $hoverShadowCol; // Box shadow styling
        border: $hoverBorderThickness solid $hoverBorderCol; // Border styling on hover
    }
}

.menuOpen-iframeWindowOpen {
    width: calc(((100% - ($uniMargin))) - $fullMenuSize - 2 * $uniMargin); // Width adjusted for uniform margin
    height: calc(100% - $waybarHeight - ($botBarHeight) + $uniMargin * 1.5);  // Height considering uniform margin and waybar height
    bottom: calc(($botBarHeight + $uniMargin));
    right: $uniMargin;
}

.menuOpen-iframeWindowOpen:hover {
    user-select: none;
    &.hoverable {
        width: calc(((((100% - ($uniMargin)) * $hoverCoefficient) + $hoverConst)) - $fullMenuSize - 2 * $uniMargin); // Hover effect for width
        height: calc(((100% - $waybarHeight) * $hoverCoefficient) + $hoverConst - ($botBarHeight - 1.5 * $uniMargin)); // Hover effect for height
        right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 4));
        bottom: calc((($uniMargin) + ($botBarHeight)) * $hoverCoefficient - ($hoverConst / 2));
    }
}


.mainWindowClose {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 50%;
    right: 50%;
    border: $borderThickness solid transparent;
    border-radius: $borderRad;
    box-shadow: $shadowRad transparent;
    background-color: transparent;
    backdrop-filter:
        blur($windowBlur)
        brightness($windowBrightness)
        contrast($windowContrast);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all $transitionSpeed ease;
}

.hidden {
    display: none;
}
