.iframeWindowOpen {
	z-index: 100000;
	position: absolute;
	width: calc((100% - (2 * var(--uniMargin))));
	height: calc(
		100% - var(--waybarHeight) - (var(--botBarHeight)) + var(--uniMargin) *
			1.5
	);
	bottom: calc((var(--uniMargin)) + (var(--botBarHeight)));
	right: var(--uniMargin);
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--windowCol);
	transition: all var(--transitionSpeed) ease;
}

.iframeWindowOpen:hover {
	user-select: none;
	&.hoverable {
		width: calc(
			(100% - (2 * var(--uniMargin))) * var(--hoverCoefficient) +
				var(--hoverConst)
		);
		height: calc(
			((100% - var(--waybarHeight)) * var(--hoverCoefficient)) +
				var(--hoverConst) - (var(--botBarHeight)) + 1.5 *
				var(--uniMargin)
		);
		right: calc(
			var(--uniMargin) -
				(
					(
							(100% - (2 * var(--uniMargin))) *
								(var(--hoverCoefficient) - 1)
						) / 2
				) - (var(--hoverConst) / 2)
		);
		bottom: calc(
			((var(--uniMargin)) + (var(--botBarHeight))) *
				var(--hoverCoefficient) - (var(--hoverConst) / 2)
		);
		border-radius: calc(var(--borderRad) * var(--hoverBorderRad));
		box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
		border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	}
}

.menuOpen-iframeWindowOpen {
	width: calc(
		(
			(100% - (var(--uniMargin))) - var(--fullMenuSize) - 2 *
				var(--uniMargin)
		)
	);
	height: calc(
		100% - var(--waybarHeight) - (var(--botBarHeight)) + var(--uniMargin) *
			1.5
	);
	bottom: calc((var(--botBarHeight) + var(--uniMargin)));
	right: var(--uniMargin);
}

.menuOpen-iframeWindowOpen:hover {
	user-select: none;
	&.hoverable {
		width: calc(
			(
				(
						(100% - (var(--uniMargin))) * var(--hoverCoefficient) +
							var(--hoverConst)
					) - var(--fullMenuSize) - 2 * var(--uniMargin)
			)
		);
		height: calc(
			((100% - var(--waybarHeight)) * var(--hoverCoefficient)) +
				var(--hoverConst) -
				(var(--botBarHeight) - 1.5 * var(--uniMargin))
		);
		right: calc(
			var(--uniMargin) -
				(
					(
							(100% - (2 * var(--uniMargin))) *
								(var(--hoverCoefficient) - 1)
						) / 2
				) - (var(--hoverConst) / 4)
		);
		bottom: calc(
			((var(--uniMargin)) + (var(--botBarHeight))) *
				var(--hoverCoefficient) - (var(--hoverConst) / 2)
		);
	}
}

.mainWindowClose {
	position: absolute;
	width: 0;
	height: 0;
	bottom: 50%;
	right: 50%;
	border: var(--borderThickness) solid transparent;
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) transparent;
	background-color: transparent;
	backdrop-filter: blur(0);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: transparent;
	transition: all var(--transitionSpeed) ease;
}

.hidden {
	display: none;
}
