// Background
$bgCol: url(https://w.wallhaven.cc/full/wy/wallhaven-wyp7ep.jpg);
  // https://raw.githubusercontent.com/hyprwm/Hyprland/main/assets/wall_anime_4K.png

// Window Properties
$windowCol: #141414d1; // 12, 26, 28, 0.8
$windowBlur: 1vh;
$windowBrightness: 1;
$windowContrast: 1.1;

// Shadow properties
$shadowCol: rgba(0, 0, 0, 0.2);
$shadowRad: 7px 7px 7px;


// Margins
$uniMargin: 0.5%; // 1, 0.5, 0.225
$bottomMargin: 0.5%;
$sideMargin: 0.5%;
$waybarHeight: 12.5%; // 17.5, 12.5, 7.5
$botBarHeight: 5%;

// Border
$borderRad: 17px; // 22.5, 12.5, 6
$borderThickness: 1.75px;
$borderCol: #9c9c9c5b;

// Transitions
$transitionSpeed: 0.4s;
$fastTransitionSpeed: 0.1s;
 
// Menu
$menuButtonCol: #ffffff;

// Active
$activeTransition: $transitionSpeed;
$activeWindowCol: #25252ad1; // 24, 76, 84, 0.6

// Full Menu
$fullMenuOffScreenBorderGrad: linear-gradient(90deg, #00000000 0%, $borderCol 100%);
$fullMenuOffScreenWindowGrad: linear-gradient(90deg, #00000000 0%, $activeWindowCol 100%);
$fullMenuOffset: 10px;

// Hover Vars
$hoverConst: 0.7vh; // 0.7, 0.5, 0.25
$hoverCoefficient: 1;
$hoverWindowBlur: 0.7vw;
$hoverWindowBrightness: 1.2;
$hoverWindowContrast: 1.15;
$hoverBorderCol: #e70052e7;
$hoverWindowCol: #25252ae7;
$hoverBorderThickness: 1.5px;
$hoverBorderRad: 0.8;
$hoverBorderOpacity: rgba(255, 255, 255, 0.744);
$hoverShadowCol: rgba(
    calc(red($hoverBorderCol) * red($hoverBorderOpacity) / 255),
    calc(green($hoverBorderCol) * green($hoverBorderOpacity) / 255),
    calc(blue($hoverBorderCol) * blue($hoverBorderOpacity) / 255),
    calc(alpha($hoverBorderCol) * alpha($hoverBorderOpacity))
);
$hoverShadowRad: 0px 0px $fullMenuOffset;

// Functions
@function perToInt($percent) { // Function to convert percentage to integer
    @return calc($percent / 1%); 
}

// Presets
$preset: 0;

@if $preset != 0 {
    @if $preset == 1 {
        $borderRad: 22.5px;
        $uniMargin: 1%;
        $hoverConst: 0.7em;
        $waybarHeight: 17.5%;
    } @else if $preset == 2 {
        $borderRad: 12.5px;
        $uniMargin: 0.5%;
        $hoverConst: 0.5em;
        $waybarHeight: 12.5%;
    } @else if $preset == 3 {
        $borderRad: 6px;
        $uniMargin: 0.225%;
        $hoverConst: 0.25em;
        $waybarHeight: 7.5%;
    } @else if $preset == hypr {
        $borderRad: 10.5px;
        $uniMargin: 0.5%;
        $hoverConst: 0.2em;
        $waybarHeight: 7.5%;
        $borderThickness: 1.75px;
        $hoverBorderThickness: 2px;
    } @else if $preset == figma {
        $uniMargin: 1%;
        $waybarHeight: 15.5%;
        $borderRad: 15.5px;
    } @else if $preset == old {
        $botBarSize: 2em;

        // Background
        $bgCol: url(https://raw.githubusercontent.com/hyprwm/Hyprland/main/assets/wall_anime_4K.png);
        // https://w.wallhaven.cc/full/wy/wallhaven-wyp7ep.jpg

        // Window Properties
        $windowCol: #141414d1; // 12, 26, 28, 0.8
        $windowBlur: 1em;
        $windowBrightness: 1;
        $windowContrast: 1.1;

        // Shadow properties
        $shadowCol: rgba(0, 0, 0, 0.2);
        $shadowRad: 4px 4px 4px;


        // Margins
        $uniMargin: 0.5%; // 1, 0.5, 0.225
        $bottomMargin: 0.5%;
        $sideMargin: 0.5%;
        $waybarHeight: 12.5%; // 17.5, 12.5, 7.5

        // Border
        $borderRad: 9.5px; // 22.5, 12.5, 6
        $borderThickness: 2px;
        $borderCol: #9c9c9c5b;

        // Transitions
        $transitionSpeed: 0.4s;
        $fastTransitionSpeed: 0.1s;
        
        // Menu
        $menuButtonCol: #ffffff;

        // Active
        $activeTransition: $transitionSpeed;
        $activeWindowCol: #25252ad1; // 24, 76, 84, 0.6

        // Full Menu
        $fullMenuOffScreenBorderGrad: linear-gradient(90deg, #00000000 0%, $borderCol 100%);
        $fullMenuOffScreenWindowGrad: linear-gradient(90deg, #00000000 0%, $activeWindowCol 100%);
        $fullMenuOffset: 10px;

        // Hover Vars
        $hoverConst: 0.2em; // 0.7, 0.5, 0.25
        $hoverCoefficient: 1;
        $hoverWindowBlur: 1.5em;
        $hoverWindowBrightness: 1.2;
        $hoverWindowContrast: 1.15;
        $hoverBorderCol: #e70052e7;
        $hoverWindowCol: #25252ae7;
        $hoverBorderThickness: 2.5px;
        $hoverBorderRad: 0.8;
        $hoverBorderOpacity: rgba(255, 255, 255, 0.744);
        $hoverShadowCol: rgba(
            calc(red($hoverBorderCol) * red($hoverBorderOpacity) / 255),
            calc(green($hoverBorderCol) * green($hoverBorderOpacity) / 255),
            calc(blue($hoverBorderCol) * blue($hoverBorderOpacity) / 255),
            calc(alpha($hoverBorderCol) * alpha($hoverBorderOpacity))
        );
        $hoverShadowRad: 0px 0px $fullMenuOffset;
    }
}