.waybar {
    position: absolute;
    @if $uniMargin != 0% {
        width: calc((100% - (2 * $uniMargin)) - perToInt($waybarHeight) * 1vh); // Width calculation for waybar
        height: calc(($waybarHeight) - 2.25 * (2 * $uniMargin)); // Height adjustment for waybar
        top: calc(2 * ($uniMargin));
        right: $uniMargin;
    } @else {
        width: calc((100% - (2 * $sideMargin)) - perToInt($waybarHeight) * 1vh);
        height: calc((($waybarHeight) - (2.25 * (2 * $bottomMargin))));
        top: calc(2 * ($bottomMargin));
        right: $sideMargin;
    }
    border: $borderThickness solid $borderCol;
    border-radius: $borderRad;
    box-shadow: $shadowRad $shadowCol;
    background-color: $windowCol;
    backdrop-filter:
        blur($windowBlur)
        brightness($windowBrightness)
        contrast($windowContrast);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition:
        background-color $transitionSpeed ease,
        width $transitionSpeed ease,
        height $transitionSpeed ease,
        left $transitionSpeed ease,
        bottom $transitionSpeed ease,
        right $transitionSpeed ease,
        top $transitionSpeed ease,
        transform $transitionSpeed ease,
        border-radius $transitionSpeed ease,
        stroke $transitionSpeed ease,
        border $transitionSpeed ease,
        box-shadow $transitionSpeed ease,
        backdrop-filter $transitionSpeed ease,
        fill $transitionSpeed ease;
}

.waybar:hover {
    @if $uniMargin != 0% {
        width: calc(((((100% - (2 * $uniMargin)) - (perToInt($waybarHeight) * 1vh)) * $hoverCoefficient) + $hoverConst));
        height: calc(((($waybarHeight) - 2.25 * (2 * $uniMargin)) * $hoverCoefficient) + $hoverConst);
        right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 4));
        top: calc(2 * $uniMargin - (((100% - $uniMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        border-radius: calc(($borderRad * $hoverBorderRad) + (((((perToInt($waybarHeight) * 1vh - ($uniMargin)) * $hoverCoefficient) + ($hoverConst * perToInt($uniMargin)))) - (perToInt($waybarHeight) * 1vh - ($uniMargin))) + (($borderRad * $hoverBorderRad) / ((($borderRad * $hoverBorderRad) / 1px) / 2)));
    } @else {
        width: calc((((100% - (2 * $sideMargin)) * $hoverCoefficient) + $hoverConst) - perToInt($waybarHeight) * 1vh);
        height: calc((((($waybarHeight) - (2.25 * (2 * $bottomMargin)))) * $hoverCoefficient) + $hoverConst);
        right: calc($sideMargin - (((100% - (2 * $sideMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        top: calc(2 * $bottomMargin - (((100% - $sideMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
        border-radius: calc(($borderRad * $hoverBorderRad) + (((((perToInt($waybarHeight) * 1vh - ($bottomMargin)) * $hoverCoefficient) + ($hoverConst * perToInt($bottomMargin)))) - (perToInt($waybarHeight) * 1vh - ($sideMargin))) + (($borderRad * $hoverBorderRad) / ((($borderRad * $hoverBorderRad) / 1px) / 2)));
    }
    box-shadow: $hoverShadowRad $hoverShadowCol; // Box shadow styling
    border: $hoverBorderThickness solid $hoverBorderCol; // Border styling on hover
    background-color: $hoverWindowCol;
    backdrop-filter:
        blur($hoverWindowBlur)
        brightness($hoverWindowBrightness)
        contrast($hoverWindowContrast);
}

.menuOpen-waybar {
    @if $uniMargin != 0% {
        width: calc(((100% - (2 * $uniMargin))) - (((perToInt($waybarHeight) * 1vh - ($uniMargin))) + (((($waybarHeight) - 2.25 * (2 * $uniMargin))))) - $uniMargin); // Width calculation for waybar
        height: calc(($waybarHeight) - 2.25 * (2 * $uniMargin)); // Height adjustment for waybar
        top: calc(2 * ($uniMargin));
        right: $uniMargin;
    } @else {
        width: calc(((100% - (2 * $sideMargin))) - (((perToInt($waybarHeight) * 1vh - ($sideMargin))) + (((($waybarHeight) - 2.25 * (2 * $sideMargin))))) - $sideMargin);
        height: calc((($waybarHeight) - (2.25 * (2 * $bottomMargin))));
        top: calc(2 * ($bottomMargin));
        right: $sideMargin;
    }
    backdrop-filter:
        blur($hoverWindowBlur)
        brightness($hoverWindowBrightness)
        contrast($hoverWindowContrast);
}

.menuOpen-waybar:hover {
    @if $uniMargin != 0% {
        width: calc(((((100% - (2 * $uniMargin)) * $hoverCoefficient) + $hoverConst)) - (((perToInt($waybarHeight) * 1vh - ($uniMargin))) + (((($waybarHeight) - 2.25 * (2 * $uniMargin))))) - $uniMargin);
        height: calc(((($waybarHeight) - 2.25 * (2 * $uniMargin)) * $hoverCoefficient) + $hoverConst);
        right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 4));
        top: calc(2 * $uniMargin - (((100% - $uniMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
    } @else {
        width: calc(((((100% - (2 * $sideMargin)) * $hoverCoefficient) + $hoverConst)) - (((perToInt($waybarHeight) * 1vh - ($sideMargin))) + (((($waybarHeight) - 2.25 * (2 * $sideMargin))))) - $sideMargin);
        height: calc(((($waybarHeight) - 2.25 * (2 * $bottomMargin)) * $hoverCoefficient) + $hoverConst);
        right: calc($sideMargin - (((100% - (2 * $sideMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 4));
        top: calc(2 * $bottomMargin - (((100% - $sideMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
    }
}

#urlInput {
    position: absolute;
    left: perToInt($waybarHeight) * 1vh;
    height: calc((($waybarHeight) / 1%) * 1vh - (($uniMargin) / 1%) * 8vh);
    width: calc((($waybarHeight) / 1%) * 4vw);
    margin: 0;
    border: transparent;
    font-family: 'Open Sans';
    font-size: 2vw;
    color: $menuButtonCol;
    border-radius: 100vw;
    padding: 1em;
    background-color: #f1f1f114;
    &:focus, &:hover {
        outline: none;
        background-color: #f1f1f120;
    }
}

#reloadButton {
    position: absolute;
    left: calc(perToInt($waybarHeight) * (1vh) / 4);
    margin: 0;
    padding: 0;
    background-color: #00000000;
    border: transparent;
    font-family: 'Open Sans';
    font-size: 3vw;
    color: $menuButtonCol;
    &:hover {
        cursor: pointer;
    }
}

#searchButton {
    position: absolute;
    left: calc(perToInt($waybarHeight) * (1vh) / 4 + (($waybarHeight) / 1%) * 3.95vw);
    transform: translateY(-3%);
    margin: 0;
    padding: 0;
    background-color: #00000000;
    border: transparent;
    font-family: 'Open Sans';
    font-size: 3vw;
    color: #7C7777;
    font-weight: 100;
    &:hover {
        cursor: pointer;
    }
}
