.waybar {
    position: absolute;
    width: calc((100% - (2 * $uniMargin)) - perToInt($waybarHeight)); // Width calculation for waybar
    height: calc(($waybarHeight) - 2.25 * (2 * $uniMargin)); // Height adjustment for waybar
    top: calc(($uniMargin));
    right: $uniMargin;
    border: $borderThickness solid $borderCol;
    border-radius: $borderRad;
    box-shadow: $shadowRad $shadowCol;
    background-color: $windowCol;
    backdrop-filter:
        blur($windowBlur)
        brightness($windowBrightness)
        contrast($windowContrast);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition:
        background-color $transitionSpeed ease,
        width $transitionSpeed ease,
        height $transitionSpeed ease,
        left $transitionSpeed ease,
        bottom $transitionSpeed ease,
        right $transitionSpeed ease,
        top $transitionSpeed ease,
        transform $transitionSpeed ease,
        border-radius $transitionSpeed ease,
        stroke $transitionSpeed ease,
        border $transitionSpeed ease,
        box-shadow $transitionSpeed ease,
        backdrop-filter $transitionSpeed ease,
        fill $transitionSpeed ease;
}

.waybar:hover {
    width: calc(((((100% - (2 * $uniMargin)) - (perToInt($waybarHeight))) * $hoverCoefficient) + $hoverConst));
    height: calc(((($waybarHeight) - 2.25 * (2 * $uniMargin)) * $hoverCoefficient) + $hoverConst);
    right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 4));
    top: calc($uniMargin - (((100% - $uniMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
    border-radius: calc(($borderRad * $hoverBorderRad) + (((($waybarHeight - ($uniMargin) * $hoverCoefficient) + ($hoverConst * $uniMargin / 1vh))) - ($waybarHeight - ($uniMargin))) + (($borderRad * $hoverBorderRad) / ((($borderRad * $hoverBorderRad) / 1px) / 2)));
    box-shadow: $hoverShadowRad $hoverShadowCol; // Box shadow styling
    border: $hoverBorderThickness solid $hoverBorderCol; // Border styling on hover
    background-color: $hoverWindowCol;
    backdrop-filter:
        blur($hoverWindowBlur)
        brightness($hoverWindowBrightness)
        contrast($hoverWindowContrast);
}

.menuOpen-waybar {
    width: calc(((100% - ($uniMargin))) - $fullMenuSize - 2 * $uniMargin); // Width calculation for waybar
    height: calc(($waybarHeight) - 2.25 * (2 * $uniMargin)); // Height adjustment for waybar
    top: calc(($uniMargin));
    right: $uniMargin;
    backdrop-filter:
        blur($hoverWindowBlur)
        brightness($hoverWindowBrightness)
        contrast($hoverWindowContrast);
}

.menuOpen-waybar:hover {
    width: calc(((((100% - ($uniMargin)) * $hoverCoefficient) + $hoverConst)) - $fullMenuSize - 2 * $uniMargin);
    height: calc(((($waybarHeight) - 2.25 * (2 * $uniMargin)) * $hoverCoefficient) + $hoverConst);
    right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 4));
    top: calc($uniMargin - (((100% - $uniMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2));
}

#urlInput {
    position: absolute;
    left: $waybarHeight;
    height: calc((($waybarHeight)) - $uniMargin * 6);
    width: calc((($waybarHeight) / 1vh) * 4vw);
    margin: 0;
    border: transparent;
    font-family: 'Open Sans';
    font-size: calc((1.75vw * ($waybarHeight / 12.5vh) / 1.25) * ($waybarHeight / 10vh));
    color: $menuButtonCol;
    border-radius: 100vw;
    padding: calc($uniMargin / 4);
    padding-left: 0.5em;
    background-color: $frontElementCol;
    &:focus, &:hover {
        outline: none;
        background-color: $hoverFrontElementCol;
    }
}

#reloadButton {
    position: absolute;
    left: calc(perToInt($waybarHeight) / 4);
    margin: 0;
    padding: 0;
    background-color: #00000000;
    border: transparent;
    font-family: 'Open Sans';
    font-size: calc((2.5vw * ($waybarHeight / 12.5vh) / 1.25) * ($waybarHeight / 10vh));
    color: $menuButtonCol;
    &:hover {
        cursor: pointer;
    }
}

#searchButton {
    position: absolute;
    left: calc(((($waybarHeight) / 1vh) * 4vw) + (perToInt($waybarHeight)) - 1em);
    transform: translateY(-3%) translateX(-50%);
    margin: 0;
    padding: 0;
    background-color: #00000000;
    border: transparent;
    font-family: 'Open Sans';
    font-size: calc((2vw * ($waybarHeight / 12.5vh) / 1.25) * ($waybarHeight / 10vh));
    color: #7C7777;
    font-weight: 100;
    &:hover {
        cursor: pointer;
    }
}
