@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import '_variables.scss';
@import '_settings.scss';

body {
	font-family: 'Open Sans';
	background-color: var(--debugBg);
	color: var(--textCol);
	margin: 0;
	padding: calc(var(--uniMargin) * 2);
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: auto;
	user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-webkit-user-select: none !important;
}

#uploadButton {
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		color var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease;
	background-color: transparent;
	border: var(--borderThickness) solid var(--hoverBorderCol);
	color: var(--textCol);
	&:hover {
		background-color: color-mix(
			in srgb,
			var(--hoverBorderCol) 20%,
			transparent
		);
		text-shadow: 0px 0px 6px var(--hoverBorderCol);
		cursor: pointer;
	}
}

button {
	padding: 10px;
	border-radius: var(--borderRad);
	cursor: pointer;
	transition:
		background-color var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		color var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease;
	background-color: transparent;
	border: var(--borderThickness) solid var(--hoverBorderCol);
	color: var(--textCol);
	&:hover {
		background-color: color-mix(
			in srgb,
			var(--hoverBorderCol) 20%,
			transparent
		);
		text-shadow: 0px 0px 6px var(--hoverBorderCol);
		cursor: pointer;
	}
}

.cssTutorial {
	margin: calc(var(--uniMargin) * 2);
	color: var(--textCol);
	box-sizing: border-box;
	font-family: monospace;
	background-color: var(--frontElementCol);
	border-radius: var(--borderRad);
	z-index: 999985;
	border: var(--borderThickness) solid var(--borderCol);
	box-shadow: var(--shadowRad) var(--shadowCol);
	user-select: none;
	padding: calc(var(--uniMargin) * 2);
	padding-top: 0;
	transition:
		background-color var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		color var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease;
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: auto;
}

.cssTemplate {
	margin-bottom: var(--uniMargin);
	color: var(--textCol);
}

.cssTemplateCopyText {
	color: var(--textColSec);
	&:hover {
		cursor: pointer;
	}
}

#cssTemplate {
	user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-webkit-user-select: none !important;
	width: calc(100vw - var(--uniMargin) * 6);
	height: 60vh;
	color: var(--textCol);
	box-sizing: border-box;
	margin: var(--uniMargin);
	font-family: monospace;
	background-color: var(--frontElementCol);
	padding: var(--uniMargin);
	border-radius: var(--borderRad);
	z-index: 999985;
	border: var(--borderThickness) solid var(--borderCol);
	box-shadow: var(--shadowRad) var(--shadowCol);
	transition:
		background-color var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		color var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease;
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: auto;
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: var(--hoverFrontElementCol);
	}
}

.presetGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	grid-gap: 10px;
	margin-bottom: 20px;
}

@media (max-width: 600px) {
	.presetGrid {
		grid-template-columns: 1fr;
	}
}
