@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import '_variables.scss';

body {
	font-family: 'Open Sans';
	background-color: var(--debugBg);
	color: var(--textCol);
	margin: 0;
	padding: calc(var(--uniMargin) * 2);
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: auto;
	user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-webkit-user-select: none !important;
}
