@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import '_mVariables.scss'; // Importing global variables
@import '_mMainWindow.scss'; // Rest of the imports are self explanitory
@import '_mWaybar.scss';
@import '_mIframeWindow.scss';
@import '_mBotBar.scss';
@import '_mTransitions.scss';

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	color: #fff;

	@if str-index($bgCol, 'url') {
		background-image: $bgCol;
		background-repeat: no-repeat;
		background-size: cover;
	} @else {
		background-color: $bgCol;
	}
	overflow: hidden;
	height: 100%;
	/*
    height: 121vh;
    transform: translateY(-6.95vh);
    */
}

/*
// I wrote all of this my self, its all mostly free to use, just credit me pls if you are going to use it
*/
