@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* ---------------
*   Huge thanks to riftriot
*   for helping me set up
*   UV on this project
*   Follow his GitHub:
*   https://github.com/Riftriot
*/
:root {
	/* Background */
	--bgCol: url('../assets/bgImg.png');
	/* Window Properties */
	--windowCol: #141414d1;
	--windowBlur: 1vh;
	--windowBrightness: 1;
	--windowContrast: 1.1;
	--frontElementCol: #f1f1f114;
	--textCol: #fff;
	--textColSec: #fff9;
	--linkCol: #5a2491;
	/* Shadow properties */
	--shadowCol: rgba(255, 255, 255, 0.02);
	--shadowRad: 0px 4px 4px;
	/* Margins */
	--uniMargin: 1vh;
	--waybarHeight: 10vh;
	--urlInputLength: 43vw;
	--botBarHeight: 4.5vh;
	--botBarFontSize: 0.8;
	--fullMenuSize: 25vh;
	/* Border */
	--borderRad: 7px;
	--borderThickness: 1.75px;
	--borderCol: #9c9c9c5b;
	/* Transitions */
	--transitionSpeed: 0.4s;
	--fastTransitionSpeed: 0.1s;
	/* Menu */
	--menuButtonCol: var(--textCol);
	/* Active */
	--activeTransition: var(--transitionSpeed);
	--activeWindowCol: #25252ad1;
	--activeWindowBlur: calc(var(--hoverWindowBlur) / 8);
	--activeWindowBrightness: var(--hoverWindowBrightness);
	--activeWindowContrast: var(--hoverWindowContrast);
	/* Full Menu */
	--fullMenuOffset: 10px;
	/* Hover Vars */
	--hoverConst: 0vh;
	--hoverCoefficient: 1;
	--hoverWindowBlur: 0.7vw;
	--hoverWindowBrightness: 1.2;
	--hoverWindowContrast: 1.15;
	--hoverBorderCol: #a1a1ffe7;
	--hoverWindowCol: #141414d1;
	--hoverBorderThickness: var(--borderThickness);
	--hoverBorderRad: 0.8;
	--hoverBorderOpacity: rgba(255, 255, 255, 0.744);
	--hoverShadowCol: rgba(
		calc(red(var(--hoverBorderCol)) * red(var(--hoverBorderOpacity)) / 255),
		calc(
			green(var(--hoverBorderCol)) * green(var(--hoverBorderOpacity)) /
				255
		),
		calc(
			blue(var(--hoverBorderCol)) * blue(var(--hoverBorderOpacity)) / 255
		),
		calc(alpha(var(--hoverBorderCol)) * alpha(var(--hoverBorderOpacity)))
	);
	--hoverShadowRad: 0px 0px var(--fullMenuOffset);
	--hoverFrontElementCol: #f1f1f120;
	--hoverActiveWindowBlur: calc(var(--hoverWindowBlur) / 6);
	--hoverActiveWindowBrightness: calc(var(--hoverWindowBrightness) - 0.3);
	--hoverActiveWindowContrast: var(--hoverWindowContrast);
	--doParticles: 1;
}

.mainWindow {
	position: absolute;
	width: calc(100vw - 2 * var(--uniMargin));
	height: calc(
		100% - var(--waybarHeight) - (var(--botBarHeight)) + var(--uniMargin) *
			1.5
	);
	bottom: calc((var(--uniMargin)) + (var(--botBarHeight)));
	right: var(--uniMargin);
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	background-color: var(--windowCol);
	backdrop-filter: blur(var(--windowBlur)) brightness(var(--windowBrightness))
		contrast(var(--windowContrast));
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition:
		background-color var(--transitionSpeed) ease,
		width var(--transitionSpeed) ease,
		height var(--transitionSpeed) ease,
		left var(--transitionSpeed) ease,
		bottom var(--transitionSpeed) ease,
		right var(--transitionSpeed) ease,
		top var(--transitionSpeed) ease,
		transform var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease,
		stroke var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		box-shadow var(--transitionSpeed) ease,
		backdrop-filter var(--transitionSpeed) ease,
		fill var(--transitionSpeed) ease;
}

.mainWindow:hover {
	user-select: none;
}
.mainWindow:hover.hoverable {
	width: calc(
		(100% - 2 * var(--uniMargin)) * var(--hoverCoefficient) +
			var(--hoverConst)
	);
	height: calc(
		(100% - var(--waybarHeight)) * var(--hoverCoefficient) +
			var(--hoverConst) - (var(--botBarHeight)) + 1.5 * var(--uniMargin)
	);
	right: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	bottom: calc(
		((var(--uniMargin)) + (var(--botBarHeight))) * var(--hoverCoefficient) -
			var(--hoverConst) / 2
	);
	border-radius: calc(var(--borderRad) * var(--hoverBorderRad));
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	background-color: var(--hoverWindowCol);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}

.menuOpen-mainWindow {
	width: calc(
		100% - (var(--uniMargin)) - var(--fullMenuSize) - 2 * var(--uniMargin)
	);
	height: calc(
		100% - var(--waybarHeight) - (var(--botBarHeight)) + var(--uniMargin) *
			1.5
	);
	bottom: calc(var(--botBarHeight) + var(--uniMargin));
	right: var(--uniMargin);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}

.menuOpen-mainWindow:hover {
	user-select: none;
}
.menuOpen-mainWindow:hover.hoverable {
	width: calc(
		(100% - (var(--uniMargin))) * var(--hoverCoefficient) +
			var(--hoverConst) - var(--fullMenuSize) - 2 * var(--uniMargin)
	);
	height: calc(
		(100% - var(--waybarHeight)) * var(--hoverCoefficient) +
			var(--hoverConst) - (var(--botBarHeight) - 1.5 * var(--uniMargin))
	);
	right: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 4
	);
	bottom: calc(
		((var(--uniMargin)) + (var(--botBarHeight))) * var(--hoverCoefficient) -
			var(--hoverConst) / 2
	);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}

.waybar {
	position: absolute;
	width: calc(100% - 2 * var(--uniMargin) - var(--waybarHeight));
	height: calc(var(--waybarHeight) - 2.25 * 2 * var(--uniMargin));
	top: calc(var(--uniMargin));
	right: var(--uniMargin);
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	background-color: var(--windowCol);
	backdrop-filter: blur(var(--windowBlur)) brightness(var(--windowBrightness))
		contrast(var(--windowContrast));
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition:
		background-color var(--transitionSpeed) ease,
		width var(--transitionSpeed) ease,
		height var(--transitionSpeed) ease,
		left var(--transitionSpeed) ease,
		bottom var(--transitionSpeed) ease,
		right var(--transitionSpeed) ease,
		top var(--transitionSpeed) ease,
		transform var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease,
		stroke var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		box-shadow var(--transitionSpeed) ease,
		backdrop-filter var(--transitionSpeed) ease,
		fill var(--transitionSpeed) ease;
}

.waybar:hover {
	width: calc(
		(100% - 2 * var(--uniMargin) - var(--waybarHeight)) *
			var(--hoverCoefficient) + var(--hoverConst)
	);
	height: calc(
		(var(--waybarHeight) - 2.25 * 2 * var(--uniMargin)) *
			var(--hoverCoefficient) + var(--hoverConst)
	);
	right: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 4
	);
	top: calc(
		var(--uniMargin) - (100% - var(--uniMargin) - var(--waybarHeight)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	border-radius: calc(var(--borderRad) * var(--hoverBorderRad));
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	background-color: var(--hoverWindowCol);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}

.menuOpen-waybar {
	width: calc(
		100% - (var(--uniMargin)) - var(--fullMenuSize) - 2 * var(--uniMargin)
	);
	height: calc(var(--waybarHeight) - 2.25 * 2 * var(--uniMargin));
	top: calc(var(--uniMargin));
	right: var(--uniMargin);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}

.menuOpen-waybar:hover {
	width: calc(
		(100% - (var(--uniMargin))) * var(--hoverCoefficient) +
			var(--hoverConst) - var(--fullMenuSize) - 2 * var(--uniMargin)
	);
	height: calc(
		(var(--waybarHeight) - 2.25 * 2 * var(--uniMargin)) *
			var(--hoverCoefficient) + var(--hoverConst)
	);
	right: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 4
	);
	top: calc(
		var(--uniMargin) - (100% - var(--uniMargin) - var(--waybarHeight)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
}

#urlInput {
	position: absolute;
	left: calc(var(--waybarHeight) - var(--waybarHeight) / 3);
	height: calc(((var(--waybarHeight))) - var(--uniMargin) * 6);
	width: calc((var(--urlInputLength)));
	margin: 0;
	border: transparent;
	font-family: 'Open Sans';
	font-size: calc(
		1.75vw * var(--waybarHeight) / 12.5vh / 1.25 * var(--waybarHeight) /
			10vh
	);
	color: var(--menuButtonCol);
	border-radius: 100vw;
	padding: calc(var(--uniMargin) / 4);
	padding-left: 0.75em;
	background-color: var(--frontElementCol);
	transition: all var(--transitionSpeed) ease;
}
#urlInput:focus,
#urlInput:hover {
	outline: none;
	background-color: var(--hoverFrontElementCol);
}

#reloadButton {
	position: absolute;
	left: calc(var(--waybarHeight) / 3 - var(--uniMargin));
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	border: transparent;
	font-family: 'Open Sans';
	font-size: calc(var(--waybarHeight) / 4);
	color: var(--menuButtonCol);
	transition: all var(--transitionSpeed) ease;
}
#reloadButton:hover {
	cursor: pointer;
	transform: rotate(360deg) scale(1.2);
}

#searchButton {
	position: absolute;
	left: calc(
		var(--urlInputLength) + var(--waybarHeight) - 1em - var(--waybarHeight) /
			3
	);
	transform: translateY(-3%) translateX(-50%);
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	border: transparent;
	font-family: 'Open Sans';
	font-size: calc(var(--waybarHeight) / 4);
	color: #7c7777;
	font-weight: 100;
	transition: all var(--transitionSpeed) ease;
}
#searchButton:hover {
	cursor: pointer;
	transform: translateY(-3%) translateX(-50%) scale(1.2);
}

#settingsButton {
	position: absolute;
	right: calc(var(--uniMargin) * 2);
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	border: transparent;
	font-family: 'Open Sans';
	font-size: calc(var(--waybarHeight) / 4);
	color: var(--menuButtonCol);
	transition: all var(--transitionSpeed) ease;
}
#settingsButton:hover {
	cursor: pointer;
	transform: translateY(-1%) rotate(360deg) scale(1.2);
}

.iframeWindow {
	position: absolute;
	width: calc(100% - 3 * var(--uniMargin));
	height: calc(
		100% - var(--uniMargin) - var(--waybarHeight) -
			(var(--botBarHeight) + var(--uniMargin))
	);
	bottom: calc((var(--uniMargin)) + (var(--botBarHeight)));
	right: -200vw;
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--windowCol);
	transition:
		background-color var(--transitionSpeed) ease,
		width var(--transitionSpeed) ease,
		height var(--transitionSpeed) ease,
		left var(--transitionSpeed) ease,
		bottom var(--transitionSpeed) ease,
		right var(--transitionSpeed) ease,
		top var(--transitionSpeed) ease,
		transform var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease,
		stroke var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		box-shadow var(--transitionSpeed) ease,
		backdrop-filter var(--transitionSpeed) ease,
		fill var(--transitionSpeed) ease;
}

.menuOpen-iframeWindow {
	width: calc(
		100% - 3 * var(--uniMargin) -
			(
				var(--waybarHeight) - 2 * var(--uniMargin) + var(--waybarHeight) -
					2.25 * 2 * var(--uniMargin)
			) - var(--uniMargin)
	);
	height: calc(
		100% - var(--uniMargin) - var(--waybarHeight) -
			(var(--botBarHeight) + var(--uniMargin))
	);
	bottom: calc(var(--botBarHeight) + var(--uniMargin));
	right: -200vw;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	transform-style: preserve-3d;
}

.hidden {
	display: none;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	width: 50vmin;
	height: 50vmin;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	perspective: 1000vmin;
}

.bars {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 6.5vmin 3vmin;
	animation: mirror1 2s ease 0s infinite;
}

.bars + .bars {
	transform: rotate(90deg) rotateX(180deg);
	animation: mirror2 2s ease 0.5s infinite;
}

.bar {
	width: 44vmin;
	height: 3vmin;
	margin: 2vmin 0vmin;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 33%,
		var(--menuButtonCol) 33% 67%,
		rgba(255, 255, 255, 0) 67% 100%
	);
	animation: grow 1s ease-in-out 0s infinite alternate;
	background-size: 300%;
	background-position-x: -203%;
}

@keyframes mirror1 {
	0%,
	47%,
	99.99%,
	100% {
		transform: rotate(180deg) rotateX(0deg);
	}
	47.01%,
	99.98% {
		transform: rotate(180deg) rotateX(180deg);
	}
}
@keyframes mirror2 {
	0%,
	47%,
	99.99%,
	100% {
		transform: rotate(90deg) rotateX(180deg);
	}
	47.01%,
	99.98% {
		transform: rotate(90deg) rotateX(0deg);
	}
}
@keyframes grow {
	0%,
	25% {
		background-position-x: -297%;
	}
	45%,
	55% {
		background-position-x: -250%;
	}
	75%,
	100% {
		background-position-x: -203%;
	}
}
.bar:nth-child(2) {
	animation-delay: -0.02s;
}

.bar:nth-child(3) {
	animation-delay: -0.04s;
}

.bar:nth-child(4) {
	animation-delay: -0.06s;
}

.bar:nth-child(5) {
	animation-delay: -0.08s;
}

.bar:nth-child(6) {
	animation-delay: -0.1s;
}

.bar:nth-child(7) {
	animation-delay: -0.12s;
}

.bars:nth-child(2) .bar:nth-child(1) {
	animation-delay: -0.501s;
}

.bars:nth-child(2) .bar:nth-child(2) {
	animation-delay: -0.52s;
}

.bars:nth-child(2) .bar:nth-child(3) {
	animation-delay: -0.54s;
}

.bars:nth-child(2) .bar:nth-child(4) {
	animation-delay: -0.56s;
}

.bars:nth-child(2) .bar:nth-child(5) {
	animation-delay: -0.58s;
}

.bars:nth-child(2) .bar:nth-child(6) {
	animation-delay: -0.6s;
}

.bars:nth-child(2) .bar:nth-child(7) {
	animation-delay: -0.62s;
}

.menu {
	position: absolute;
	width: calc(var(--waybarHeight) - var(--uniMargin));
	height: calc(var(--waybarHeight) - 2.25 * 2 * var(--uniMargin));
	top: calc(var(--uniMargin));
	left: var(--uniMargin);
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	background-color: var(--windowCol);
	backdrop-filter: blur(var(--windowBlur)) brightness(var(--windowBrightness))
		contrast(var(--windowContrast));
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition:
		background-color var(--transitionSpeed) ease,
		width var(--transitionSpeed) ease,
		height var(--transitionSpeed) ease,
		left var(--transitionSpeed) ease,
		bottom var(--transitionSpeed) ease,
		right var(--transitionSpeed) ease,
		top var(--transitionSpeed) ease,
		transform var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease,
		stroke var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		box-shadow var(--transitionSpeed) ease,
		backdrop-filter var(--transitionSpeed) ease,
		fill var(--transitionSpeed) ease,
		font-size var(--transitionSpeed) ease;
}
.menu .menuIcon {
	fill: var(--menuButtonCol);
	stroke: var(--menuButtonCol);
	height: calc(var(--waybarHeight) * 9);
	width: calc(var(--waybarHeight) / 1.75);
	transition: none;
	z-index: 9999980;
}
.menu .menuLogo {
	font-style: normal;
	text-decoration: none;
	font-family: 'Open Sans';
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(0, 0, 0, 0);
	color: transparent;
	user-select: none;
	cursor: default;
	font-size: 0;
}

.menu:hover {
	width: calc(
		(var(--waybarHeight) - var(--uniMargin)) * var(--hoverCoefficient) +
			var(--hoverConst)
	);
	height: calc(
		(var(--waybarHeight) - 2.25 * 2 * var(--uniMargin)) *
			var(--hoverCoefficient) + var(--hoverConst)
	);
	left: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	top: calc(
		var(--uniMargin) - (100% - var(--uniMargin) - var(--waybarHeight)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	border-radius: calc(var(--borderRad) * var(--hoverBorderRad));
	background-color: var(--hoverWindowCol);
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}

.menu.menuOpen {
	position: absolute;
	width: var(--fullMenuSize);
	height: calc(var(--waybarHeight) - 2.25 * 2 * var(--uniMargin));
	top: calc(var(--uniMargin));
	left: var(--uniMargin);
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	background-color: var(--activeWindowCol);
	backdrop-filter: blur(calc(var(--hoverWindowBlur) / 8))
		brightness(var(--windowBrightness)) contrast(var(--windowContrast));
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition:
		background-color var(--transitionSpeed) ease,
		width var(--transitionSpeed) ease,
		height var(--transitionSpeed) ease,
		left var(--transitionSpeed) ease,
		bottom var(--transitionSpeed) ease,
		right var(--transitionSpeed) ease,
		top var(--transitionSpeed) ease,
		transform var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease,
		stroke var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		box-shadow var(--transitionSpeed) ease,
		backdrop-filter var(--transitionSpeed) ease,
		fill var(--transitionSpeed) ease;
}
.menu.menuOpen .menuIcon {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(0, 0, 0, 0);
	height: 0;
	width: 0;
}
.menu.menuOpen .menuLogo {
	fill: var(--menuButtonCol);
	stroke: var(--menuButtonCol);
	color: aliceblue;
	cursor: pointer;
	font-size: calc(0.4 * var(--waybarHeight));
	font: 'Open Sans';
	text-decoration: none;
}

.menu.menuOpen:hover {
	width: calc(
		var(--fullMenuSize) * var(--hoverCoefficient) + var(--hoverConst)
	);
	height: calc(
		(var(--waybarHeight) - 2.25 * 2 * var(--uniMargin)) *
			var(--hoverCoefficient) + var(--hoverConst)
	);
	left: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	top: calc(
		var(--uniMargin) - (100% - var(--uniMargin) - var(--waybarHeight)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	border-radius: calc(var(--borderRad) * var(--hoverBorderRad));
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	background-color: var(--activeWindowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverActiveWindowBrightness))
		contrast(var(--hoverActiveWindowContrast));
}

.fullMenu {
	position: absolute;
	width: var(--fullMenuSize);
	height: calc(
		100% - var(--waybarHeight) - var(--botBarHeight) + var(--uniMargin) *
			1.5
	);
	bottom: calc(var(--botBarHeight) + var(--uniMargin));
	left: calc(-1 * var(--uniMargin) * 2 - var(--fullMenuSize));
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	background-color: var(--activeWindowCol);
	backdrop-filter: blur(var(--activeTransition))
		brightness(var(--activeWindowBrightness))
		contrast(var(--activeWindowContrast));
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-shadow: var(--shadowRad) var(--shadowCol);
	transition:
		background-color var(--transitionSpeed) ease,
		width var(--transitionSpeed) ease,
		height var(--transitionSpeed) ease,
		left var(--transitionSpeed) ease,
		bottom var(--transitionSpeed) ease,
		right var(--transitionSpeed) ease,
		top var(--transitionSpeed) ease,
		transform var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease,
		stroke var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		box-shadow var(--transitionSpeed) ease,
		backdrop-filter var(--transitionSpeed) ease,
		fill var(--transitionSpeed) ease;
}

.menuOpen-fullMenu {
	position: absolute;
	width: var(--fullMenuSize);
	height: calc(
		100% - var(--waybarHeight) - var(--botBarHeight) + var(--uniMargin) *
			1.5
	);
	bottom: calc(var(--botBarHeight) + var(--uniMargin));
	left: calc(var(--uniMargin));
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	background-color: var(--activeWindowCol);
	backdrop-filter: blur(var(--activeWindowContrast))
		brightness(var(--activeWindowBrightness))
		contrast(var(--activeWindowContrast));
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition:
		background-color var(--transitionSpeed) ease,
		width var(--transitionSpeed) ease,
		height var(--transitionSpeed) ease,
		left var(--transitionSpeed) ease,
		bottom var(--transitionSpeed) ease,
		right var(--transitionSpeed) ease,
		top var(--transitionSpeed) ease,
		transform var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease,
		stroke var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		box-shadow var(--transitionSpeed) ease,
		backdrop-filter var(--transitionSpeed) ease,
		fill var(--transitionSpeed) ease;
}

.menuOpen-fullMenu:hover {
	width: calc(
		var(--fullMenuSize) * var(--hoverCoefficient) + var(--hoverConst)
	);
	height: calc(
		(100% - var(--waybarHeight)) * var(--hoverCoefficient) +
			var(--hoverConst) - var(--botBarHeight) + 1.5 * var(--uniMargin)
	);
	bottom: calc(
		((var(--uniMargin)) + (var(--botBarHeight))) * var(--hoverCoefficient) -
			var(--hoverConst) / 2
	);
	left: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	border-radius: calc(var(--borderRad) * var(--hoverBorderRad));
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	background-color: var(--activeWindowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	backdrop-filter: blur(var(--hoverActiveWindowBlur))
		brightness(var(--hoverActiveWindowBrightness))
		contrast(var(--hoverActiveWindowContrast));
}

.botBar {
	user-select: none;
	font-style: normal;
	text-decoration: none;
	font-family: 'Open Sans';
	position: absolute;
	font-size: calc(2.75vh * var(--botBarFontSize));
	margin: 0;
	padding: 0;
	bottom: calc(var(--uniMargin));
	color: calc(var(--textCol));
	height: calc(var(--botBarHeight) - var(--uniMargin));
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	backdrop-filter: blur(var(--windowBlur)) brightness(var(--windowBrightness))
		contrast(var(--windowContrast));
	box-sizing: border-box;
	transition:
		background-color var(--transitionSpeed) ease,
		transform var(--transitionSpeed) ease,
		width var(--transitionSpeed) ease,
		height var(--transitionSpeed) ease,
		left var(--transitionSpeed) ease,
		bottom var(--transitionSpeed) ease,
		right var(--transitionSpeed) ease,
		top var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease,
		stroke var(--transitionSpeed) ease,
		box-shadow var(--transitionSpeed) ease,
		border var(--transitionSpeed) ease,
		fill var(--transitionSpeed) ease;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--windowCol);
}
.botBar:hover {
	height: calc(
		(var(--botBarHeight) - var(--uniMargin)) * var(--hoverCoefficient) +
			var(--hoverConst)
	);
	bottom: calc(
		var(--uniMargin) - (100% - var(--uniMargin) - var(--waybarHeight)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	background-color: var(--hoverWindowCol);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}

.hidden {
	display: none;
}

.clock {
	left: calc(50vw - var(--uniMargin) / 2 - 7vh);
	transform: translateX(-50%);
	width: 14vh;
}
.clock:hover {
	width: calc(14vh * var(--hoverCoefficient) + var(--hoverConst) / 2);
	cursor: pointer;
}

.battery {
	right: calc(50vw - var(--uniMargin) / 2 - 5vh);
	transform: translateX(50%);
	width: 10vh;
}
.battery:hover {
	width: calc(10vh * var(--hoverCoefficient) + var(--hoverConst) / 2);
	cursor: pointer;
}

.discord {
	left: calc(var(--uniMargin) + var(--fullMenuSize) / 2);
	width: var(--fullMenuSize);
	transform: translateX(-50%);
}
.discord:hover {
	width: calc(
		var(--fullMenuSize) * var(--hoverCoefficient) + var(--hoverConst) / 2
	);
}

.githubLink {
	left: calc(
		var(--uniMargin) + (var(--fullMenuSize)) / 2 * 2 + var(--uniMargin) +
			8vh
	);
	width: 16vh;
	transform: translateX(-50%);
}
.githubLink:hover {
	width: calc(16vh * var(--hoverCoefficient) + var(--hoverConst) / 2);
}

.email {
	right: calc(var(--uniMargin) + 8vh);
	width: 16vh;
	transform: translateX(50%);
}
.email:hover {
	width: calc(16vh * var(--hoverCoefficient) + var(--hoverConst) / 2);
	cursor: pointer;
}

.credits {
	right: calc(var(--uniMargin) + 8vh + var(--uniMargin) + 8vh);
	width: 16vh;
}
.credits:hover {
	width: calc(16vh * var(--hoverCoefficient) + var(--hoverConst) / 2);
	cursor: pointer;
}

.hidden {
	display: none;
}

#emailPopup {
	display: flex;
	width: 35%;
	height: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000000;
	user-select: none;
	font-style: normal;
	text-decoration: none;
	font-family: 'Open Sans';
	font-size: 2.75vh;
	margin: 0;
	padding: 0;
	bottom: calc(2 * var(--uniMargin));
	color: calc(var(--textCol));
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	backdrop-filter: blur(var(--windowBlur)) brightness(var(--windowBrightness))
		contrast(var(--windowContrast));
	box-sizing: border-box;
	transition:
		background-color var(--transitionSpeed) ease,
		width var(--transitionSpeed) ease,
		height var(--transitionSpeed) ease,
		left var(--transitionSpeed) ease,
		bottom var(--transitionSpeed) ease,
		right var(--transitionSpeed) ease,
		top var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease,
		stroke var(--transitionSpeed) ease,
		backdrop-filter var(--transitionSpeed) ease,
		box-shadow var(--fastTransitionSpeed) ease,
		border var(--fastTransitionSpeed) ease,
		fill var(--transitionSpeed) ease;
	align-items: center;
	justify-content: center;
	background-color: var(--windowCol);
}
#emailPopup:hover {
	height: calc(30% * var(--hoverCoefficient) + var(--hoverConst));
	width: calc(35% * var(--hoverCoefficient) + var(--hoverConst));
	bottom: calc(
		2 * var(--uniMargin) - (100% - var(--uniMargin) - var(--waybarHeight)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	background-color: var(--hoverWindowCol);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}
#emailPopup.hidden {
	display: none;
}

#emailPopupBg {
	display: flex;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4078431373);
	backdrop-filter: blur(0.3vh);
	z-index: 999990;
}
#emailPopupBg.hidden {
	display: none;
}

#creditsPopup {
	display: flex;
	width: 30%;
	height: 20%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000000;
	user-select: none;
	font-style: normal;
	text-decoration: none;
	font-family: 'Open Sans';
	font-size: 2.75vh;
	margin: 0;
	padding: 0;
	bottom: calc(2 * var(--uniMargin));
	color: calc(var(--textCol));
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	backdrop-filter: blur(var(--windowBlur)) brightness(var(--windowBrightness))
		contrast(var(--windowContrast));
	box-sizing: border-box;
	transition:
		background-color var(--transitionSpeed) ease,
		width var(--transitionSpeed) ease,
		height var(--transitionSpeed) ease,
		left var(--transitionSpeed) ease,
		bottom var(--transitionSpeed) ease,
		right var(--transitionSpeed) ease,
		top var(--transitionSpeed) ease,
		border-radius var(--transitionSpeed) ease,
		stroke var(--transitionSpeed) ease,
		backdrop-filter var(--transitionSpeed) ease,
		box-shadow var(--fastTransitionSpeed) ease,
		border var(--fastTransitionSpeed) ease,
		fill var(--transitionSpeed) ease;
	align-items: center;
	justify-content: center;
	background-color: var(--windowCol);
}
#creditsPopup:hover {
	height: calc(20% * var(--hoverCoefficient) + var(--hoverConst));
	width: calc(30% * var(--hoverCoefficient) + var(--hoverConst));
	bottom: calc(
		2 * var(--uniMargin) - (100% - var(--uniMargin) - var(--waybarHeight)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	background-color: var(--hoverWindowCol);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}
#creditsPopup.hidden {
	display: none;
}

#creditsPopupBg {
	display: flex;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4078431373);
	backdrop-filter: blur(0.3vh);
	z-index: 999990;
}
#creditsPopupBg.hidden {
	display: none;
}

.emailPopupText {
	padding: 2em;
}

.creditsPopupText {
	padding: 2em;
}

.aboutBlankOpener {
	position: absolute;
	width: calc(50% - 1.5 * var(--uniMargin));
	height: calc(
		100% - (var(--botBarHeight) + var(--uniMargin)) - var(--uniMargin)
	);
	bottom: calc(var(--botBarHeight) + var(--uniMargin));
	right: var(--uniMargin);
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	background-color: var(--windowCol);
	backdrop-filter: blur(var(--windowBlur)) brightness(var(--windowBrightness))
		contrast(var(--windowContrast));
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all var(--transitionSpeed) ease;
}
.aboutBlankOpener:hover {
	user-select: none;
	width: calc(
		50% - 1.5 * var(--uniMargin) * var(--hoverCoefficient) +
			var(--hoverConst)
	);
	height: calc(
		(100% - (var(--botBarHeight) + var(--uniMargin)) - var(--uniMargin)) *
			var(--hoverCoefficient) + var(--hoverConst)
	);
	right: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	bottom: calc(
		(var(--botBarHeight) + var(--uniMargin)) * var(--hoverCoefficient) +
			var(--hoverConst) / 2
	);
	border-radius: calc(var(--borderRad) * var(--hoverBorderRad));
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	background-color: var(--hoverWindowCol);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}

.standardOpener {
	position: absolute;
	width: calc(50% - 1.5 * var(--uniMargin));
	height: calc(
		100% - (var(--botBarHeight) + var(--uniMargin)) - var(--uniMargin)
	);
	bottom: calc(var(--botBarHeight) + var(--uniMargin));
	left: var(--uniMargin);
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	background-color: var(--windowCol);
	backdrop-filter: blur(var(--windowBlur)) brightness(var(--windowBrightness))
		contrast(var(--windowContrast));
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all var(--transitionSpeed) ease;
}
.standardOpener:hover {
	user-select: none;
	width: calc(
		50% - 1.5 * var(--uniMargin) * var(--hoverCoefficient) +
			var(--hoverConst)
	);
	height: calc(
		(100% - (var(--botBarHeight) + var(--uniMargin)) - var(--uniMargin)) *
			var(--hoverCoefficient) + var(--hoverConst)
	);
	left: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	bottom: calc(
		(var(--botBarHeight) + var(--uniMargin)) * var(--hoverCoefficient) +
			var(--hoverConst) / 2
	);
	border-radius: calc(var(--borderRad) * var(--hoverBorderRad));
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
	background-color: var(--hoverWindowCol);
	backdrop-filter: blur(var(--hoverWindowBlur))
		brightness(var(--hoverWindowBrightness))
		contrast(var(--hoverWindowContrast));
}

.openerText {
	position: absolute;
	font-family: 'Open Sans';
	font-size: 1.4vw;
	color: var(--textCol);
	top: 45%;
}

.openerSubText {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-family: 'Open Sans';
	color: #7c7777;
	font-size: 0.9vw;
	transform: translateY(810%);
}

.openerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 45%;
	height: 22vw;
	background-color: var(--frontElementCol);
	padding: 0.5em;
	border-radius: var(--borderRad);
}

.openerButton {
	transform: translateY(2vh);
	display: inline-block;
	background-color: transparent;
	border: var(--borderThickness) solid var(--hoverBorderCol);
	color: var(--textCol);
	font-size: 1.5vw;
	padding: 0.5em 1em;
	transition: background-color 0.3s ease;
	border-radius: var(--borderRad);
	text-align: center;
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
}
.openerButton:hover {
	background-color: color-mix(
		in srgb,
		var(--hoverBorderCol) 20%,
		transparent
	);
	text-shadow: 0px 0px 6px var(--hoverBorderCol);
	cursor: pointer;
}

.iframeWindowOpen {
	z-index: 100000;
	position: absolute;
	width: calc(100% - 2 * var(--uniMargin));
	height: calc(
		100% - var(--waybarHeight) - (var(--botBarHeight)) + var(--uniMargin) *
			1.5
	);
	bottom: calc((var(--uniMargin)) + (var(--botBarHeight)));
	right: var(--uniMargin);
	border: var(--borderThickness) solid var(--borderCol);
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) var(--shadowCol);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--windowCol);
	transition: all var(--transitionSpeed) ease;
}

.iframeWindowOpen:hover {
	user-select: none;
}
.iframeWindowOpen:hover.hoverable {
	width: calc(
		(100% - 2 * var(--uniMargin)) * var(--hoverCoefficient) +
			var(--hoverConst)
	);
	height: calc(
		(100% - var(--waybarHeight)) * var(--hoverCoefficient) +
			var(--hoverConst) - (var(--botBarHeight)) + 1.5 * var(--uniMargin)
	);
	right: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 2
	);
	bottom: calc(
		((var(--uniMargin)) + (var(--botBarHeight))) * var(--hoverCoefficient) -
			var(--hoverConst) / 2
	);
	border-radius: calc(var(--borderRad) * var(--hoverBorderRad));
	box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
	border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
}

.menuOpen-iframeWindowOpen {
	width: calc(
		100% - (var(--uniMargin)) - var(--fullMenuSize) - 2 * var(--uniMargin)
	);
	height: calc(
		100% - var(--waybarHeight) - (var(--botBarHeight)) + var(--uniMargin) *
			1.5
	);
	bottom: calc(var(--botBarHeight) + var(--uniMargin));
	right: var(--uniMargin);
}

.menuOpen-iframeWindowOpen:hover {
	user-select: none;
}
.menuOpen-iframeWindowOpen:hover.hoverable {
	width: calc(
		(100% - (var(--uniMargin))) * var(--hoverCoefficient) +
			var(--hoverConst) - var(--fullMenuSize) - 2 * var(--uniMargin)
	);
	height: calc(
		(100% - var(--waybarHeight)) * var(--hoverCoefficient) +
			var(--hoverConst) - (var(--botBarHeight) - 1.5 * var(--uniMargin))
	);
	right: calc(
		var(--uniMargin) - (100% - 2 * var(--uniMargin)) *
			(var(--hoverCoefficient) - 1) / 2 - var(--hoverConst) / 4
	);
	bottom: calc(
		((var(--uniMargin)) + (var(--botBarHeight))) * var(--hoverCoefficient) -
			var(--hoverConst) / 2
	);
}

.mainWindowClose {
	position: absolute;
	width: 0;
	height: 0;
	bottom: 50%;
	right: 50%;
	border: var(--borderThickness) solid transparent;
	border-radius: var(--borderRad);
	box-shadow: var(--shadowRad) transparent;
	background-color: transparent;
	backdrop-filter: blur(0);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: transparent;
	transition: all var(--transitionSpeed) ease;
}

.hidden {
	display: none;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	color: var(--textCol);
	user-select: none;
	background-image: var(--bgCol);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--bgCol);
	overflow: hidden;
	height: 100%;
}

#particles-js {
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc(100vw * var(--doParticles));
	height: calc(100vh * var(--doParticles));
	z-index: 0;
}

a {
	color: var(--linkCol);
}

/*
    I wrote all of this myself, it's all mostly free to use, just credit me please if you are going to use it
*/ /*# sourceMappingURL=index.css.map */
