@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* ---------------
*   Huge thanks to riftriot
*   for helping me set up
*   UV on this project
*   Follow his GitHub:
*   https://github.com/Riftriot
*/
.mainWindow {
  position: absolute;
  width: calc(100vw - 2vh);
  height: calc(100% - 10vh - 4.5vh + 1.5vh);
  bottom: 5.5vh;
  right: 1vh;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.02);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.mainWindow:hover {
  user-select: none;
}
.mainWindow:hover.hoverable {
  width: calc((100% - 2vh) * 1 + 0vh);
  height: calc((100% - 10vh) * 1 + 0vh - 4.5vh + 1.5vh);
  right: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  bottom: 5.5vh;
  border-radius: calc(5.6px + 0vh + 2px);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.menuOpen-mainWindow {
  width: calc(100% - 1vh - 25vh - 2vh);
  height: calc(100% - 10vh - 4.5vh + 1.5vh);
  bottom: 5.5vh;
  right: 1vh;
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.menuOpen-mainWindow:hover {
  user-select: none;
}
.menuOpen-mainWindow:hover.hoverable {
  width: calc((100% - 1vh) * 1 + 0vh - 25vh - 2vh);
  height: calc((100% - 10vh) * 1 + 0vh - 3vh);
  right: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  bottom: 5.5vh;
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.waybar {
  position: absolute;
  width: calc(100% - 2vh - 10vh);
  height: 5.5vh;
  top: 1vh;
  right: 1vh;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.02);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.waybar:hover {
  width: calc((100% - 2vh - 10vh) * 1 + 0vh);
  height: 5.5vh;
  right: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  top: calc(1vh - (100% - 1vh - 10vh) * 0 / 2 - 0vh);
  border-radius: calc(5.6px + 0vh + 2px);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.menuOpen-waybar {
  width: calc(100% - 1vh - 25vh - 2vh);
  height: 5.5vh;
  top: 1vh;
  right: 1vh;
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.menuOpen-waybar:hover {
  width: calc((100% - 1vh) * 1 + 0vh - 25vh - 2vh);
  height: 5.5vh;
  right: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  top: calc(1vh - (100% - 1vh - 10vh) * 0 / 2 - 0vh);
}

#urlInput {
  position: absolute;
  left: 10vh;
  height: 4vh;
  width: 40vw;
  margin: 0;
  border: transparent;
  font-family: "Open Sans";
  font-size: 1.12vw;
  color: #fff;
  border-radius: 100vw;
  padding: 0.25vh;
  padding-left: 0.75em;
  background-color: rgba(241, 241, 241, 0.0784313725);
  transition: all 0.4s ease;
}
#urlInput:focus, #urlInput:hover {
  outline: none;
  background-color: rgba(241, 241, 241, 0.1254901961);
}

#reloadButton {
  position: absolute;
  left: 2.3333333333vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: transparent;
  font-family: "Open Sans";
  font-size: 1.6vw;
  color: #fff;
  transition: all 0.4s ease;
}
#reloadButton:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.2);
}

#searchButton {
  position: absolute;
  left: calc(40vw + 10vh - 1.25em);
  transform: translateY(-3%) translateX(-50%);
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: transparent;
  font-family: "Open Sans";
  font-size: 1.28vw;
  color: #7C7777;
  font-weight: 100;
  transition: all 0.4s ease;
}
#searchButton:hover {
  cursor: pointer;
}

#settingsButton {
  position: absolute;
  right: 2vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: transparent;
  font-family: "Open Sans";
  font-size: 1.6vw;
  color: #fff;
  transition: all 0.4s ease;
}
#settingsButton:hover {
  cursor: pointer;
  transform: rotate(720deg) scale(1.2);
}

.iframeWindow {
  position: absolute;
  width: calc(100% - 3vh);
  height: calc(100% - 1vh - 10vh - 5.5vh);
  bottom: 5.5vh;
  right: -200vw;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.02);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.menuOpen-iframeWindow {
  width: calc(100% - 3vh - 13.5vh - 1vh);
  height: calc(100% - 1vh - 10vh - 5.5vh);
  bottom: 5.5vh;
  right: -200vw;
}

*, *:before, *:after {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.hidden {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 50vmin;
  height: 50vmin;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  perspective: 1000vmin;
}

.bars {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 6.5vmin 3vmin;
  animation: mirror1 2s ease 0s infinite;
}

.bars + .bars {
  transform: rotate(90deg) rotateX(180deg);
  animation: mirror2 2s ease 0.5s infinite;
}

.bar {
  width: 44vmin;
  height: 3vmin;
  margin: 2vmin 0vmin;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 33%, #fff 33% 67%, rgba(255, 255, 255, 0) 67% 100%);
  animation: grow 1s ease-in-out 0s infinite alternate;
  background-size: 300%;
  background-position-x: -203%;
}

@keyframes mirror1 {
  0%, 47%, 99.99%, 100% {
    transform: rotate(180deg) rotateX(0deg);
  }
  47.01%, 99.98% {
    transform: rotate(180deg) rotateX(180deg);
  }
}
@keyframes mirror2 {
  0%, 47%, 99.99%, 100% {
    transform: rotate(90deg) rotateX(180deg);
  }
  47.01%, 99.98% {
    transform: rotate(90deg) rotateX(0deg);
  }
}
@keyframes grow {
  0%, 25% {
    background-position-x: -297%;
  }
  45%, 55% {
    background-position-x: -250%;
  }
  75%, 100% {
    background-position-x: -203%;
  }
}
.bar:nth-child(2) {
  animation-delay: -0.02s;
}

.bar:nth-child(3) {
  animation-delay: -0.04s;
}

.bar:nth-child(4) {
  animation-delay: -0.06s;
}

.bar:nth-child(5) {
  animation-delay: -0.08s;
}

.bar:nth-child(6) {
  animation-delay: -0.1s;
}

.bar:nth-child(7) {
  animation-delay: -0.12s;
}

.bars:nth-child(2) .bar:nth-child(1) {
  animation-delay: -0.501s;
}

.bars:nth-child(2) .bar:nth-child(2) {
  animation-delay: -0.52s;
}

.bars:nth-child(2) .bar:nth-child(3) {
  animation-delay: -0.54s;
}

.bars:nth-child(2) .bar:nth-child(4) {
  animation-delay: -0.56s;
}

.bars:nth-child(2) .bar:nth-child(5) {
  animation-delay: -0.58s;
}

.bars:nth-child(2) .bar:nth-child(6) {
  animation-delay: -0.6s;
}

.bars:nth-child(2) .bar:nth-child(7) {
  animation-delay: -0.62s;
}

.menu {
  position: absolute;
  width: 9vh;
  height: 5.5vh;
  top: 1vh;
  left: 1vh;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.02);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease, font-size 0.4s ease;
}
.menu .menuIcon {
  fill: #fff;
  stroke: #fff;
  height: 90vh;
  width: 5.7142857143vh;
  transition: none;
  z-index: 9999980;
}
.menu .menuLogo {
  font-style: normal;
  text-decoration: none;
  font-family: "Open Sans";
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0);
  color: transparent;
  user-select: none;
  cursor: default;
  font-size: 0;
}

.menu:hover {
  width: 9vh;
  height: 5.5vh;
  left: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  top: calc(1vh - (100% - 1vh - 10vh) * 0 / 2 - 0vh);
  border-radius: calc(5.6px + 0vh + 2px);
  background-color: rgba(20, 20, 20, 0.8196078431);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.menu.menuOpen {
  position: absolute;
  width: 25vh;
  height: 5.5vh;
  top: 1vh;
  left: 1vh;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  background-color: rgba(37, 37, 42, 0.8196078431);
  backdrop-filter: blur(0.0875vw) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}
.menu.menuOpen .menuIcon {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0);
  height: 0;
  width: 0;
}
.menu.menuOpen .menuLogo {
  fill: #fff;
  stroke: #fff;
  color: aliceblue;
  cursor: pointer;
  font-size: 4vh;
  font: "Open Sans";
  text-decoration: none;
}

.menu.menuOpen:hover {
  width: 25vh;
  height: 5.5vh;
  left: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  top: calc(1vh - (100% - 1vh - 10vh) * 0 / 2 - 0vh);
  border-radius: calc(5.6px + 0vh + 2px);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  background-color: rgba(37, 37, 42, 0.8196078431);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
  backdrop-filter: blur(0.1166666667vw) brightness(0.9) contrast(1.15);
}

.fullMenu {
  position: absolute;
  width: 25vh;
  height: calc(100% - 10vh - 4.5vh + 1.5vh);
  bottom: 5.5vh;
  left: calc(-20vw - 25vh);
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  background-color: rgba(37, 37, 42, 0.8196078431);
  backdrop-filter: blur(0.0875vw) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.menuOpen-fullMenu {
  width: 25vh;
  height: calc(100% - 10vh - 4.5vh + 1.5vh);
  bottom: 5.5vh;
  left: 1vh;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  background-color: rgba(37, 37, 42, 0.8196078431);
  backdrop-filter: blur(0.0875vw) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.menuOpen-fullMenu:hover {
  width: 25vh;
  height: calc((100% - 10vh) * 1 + 0vh - 4.5vh + 1.5vh);
  bottom: 5.5vh;
  left: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  border-radius: calc(5.6px + 0vh + 2px);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  background-color: rgba(37, 37, 42, 0.8196078431);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
  backdrop-filter: blur(0.1166666667vw) brightness(0.9) contrast(1.15);
}

.botBar {
  user-select: none;
  font-style: normal;
  text-decoration: none;
  font-family: "Open Sans";
  position: absolute;
  font-size: 2.2vh;
  margin: 0;
  padding: 0;
  bottom: 1vh;
  color: #fdfdfd;
  height: 3.5vh;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  transition: background-color 0.4s ease, transform 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, backdrop-filter 0.4s ease, box-shadow 0.4s ease, border 0.4s ease, fill 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
}
.botBar:hover {
  height: 3.5vh;
  bottom: calc(1vh - (100% - 1vh - 10vh) * 0 / 2 - 0vh);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.hidden {
  display: none;
}

.clock {
  left: calc(50vw - 0.5vh - 7vh);
  transform: translateX(-50%);
  width: 14vh;
}
.clock:hover {
  width: 14vh;
  cursor: pointer;
}

.discord {
  left: 13.5vh;
  width: 25vh;
  transform: translateX(-50%);
}
.discord:hover {
  width: calc(fullMenuSize * 1 + 0vh);
}

.githubLink {
  left: 35vh;
  width: 16vh;
  transform: translateX(-50%);
}
.githubLink:hover {
  width: 16vh;
}

.email {
  right: 9vh;
  width: 16vh;
  transform: translateX(50%);
}
.email:hover {
  width: 16vh;
  cursor: pointer;
}

.credits {
  right: 18vh;
  width: 16vh;
}
.credits:hover {
  width: 16vh;
  cursor: pointer;
}

.battery {
  right: calc(50vw - 0.5vh - 5vh);
  transform: translateX(50%);
  width: 10vh;
}
.battery:hover {
  width: 10vh;
  cursor: pointer;
}

.hidden {
  display: none;
}

#emailPopup {
  display: flex;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;
  user-select: none;
  font-style: normal;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 2.75vh;
  margin: 0;
  padding: 0;
  bottom: 2vh;
  color: #fdfdfd;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, backdrop-filter 0.4s ease, box-shadow 0.1s ease, border 0.1s ease, fill 0.4s ease;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
}
#emailPopup:hover {
  height: calc(30% + 0vh);
  width: calc(30% + 0vh);
  bottom: calc(2vh - (100% - 1vh - 10vh) * 0 / 2 - 0vh);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}
#emailPopup.hidden {
  display: none;
}

#emailPopupBg {
  display: flex;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4078431373);
  backdrop-filter: blur(0.3vh);
  z-index: 999990;
}
#emailPopupBg.hidden {
  display: none;
}

#creditsPopup {
  display: flex;
  width: 30%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;
  user-select: none;
  font-style: normal;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 2.75vh;
  margin: 0;
  padding: 0;
  bottom: 2vh;
  color: #fdfdfd;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, backdrop-filter 0.4s ease, box-shadow 0.1s ease, border 0.1s ease, fill 0.4s ease;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
}
#creditsPopup:hover {
  height: calc(20% + 0vh);
  width: calc(30% + 0vh);
  bottom: calc(2vh - (100% - 1vh - 10vh) * 0 / 2 - 0vh);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}
#creditsPopup.hidden {
  display: none;
}

#creditsPopupBg {
  display: flex;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4078431373);
  backdrop-filter: blur(0.3vh);
  z-index: 999990;
}
#creditsPopupBg.hidden {
  display: none;
}

.emailPopupText {
  padding: 2em;
}

.creditsPopupText {
  padding: 2em;
}

/*
  &.hidden {
        background-color: #00000000;
        backdrop-filter: blur(0px);
        width: 20%;
        height: 15%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #00000000;
        border: 0 solid #00000000;
        border-radius: $borderRad * 1.25;
        box-shadow: 0 0 0 #00000000;
        visibility: hidden;
        transition-delay: 1s
  }
*/
.aboutBlankOpener {
  position: absolute;
  width: calc(50% - 1.5vh);
  height: calc(100% - 5.5vh - 1vh);
  bottom: 5.5vh;
  right: 1vh;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.02);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.4s ease;
}
.aboutBlankOpener:hover {
  user-select: none;
  width: calc(50% - 1.5vh + 0vh);
  height: calc((100% - 5.5vh - 1vh) * 1 + 0vh);
  right: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  bottom: 5.5vh;
  border-radius: calc(5.6px + 0vh + 2px);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.standardOpener {
  position: absolute;
  width: calc(50% - 1.5vh);
  height: calc(100% - 5.5vh - 1vh);
  bottom: 5.5vh;
  left: 1vh;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.02);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.4s ease;
}
.standardOpener:hover {
  user-select: none;
  width: calc(50% - 1.5vh + 0vh);
  height: calc((100% - 5.5vh - 1vh) * 1 + 0vh);
  left: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  bottom: 5.5vh;
  border-radius: calc(5.6px + 0vh + 2px);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.openerText {
  position: absolute;
  font-family: "Open Sans";
  font-size: 1.4vw;
  color: #fff;
  top: 45%;
}

.openerSubText {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: "Open Sans";
  color: #7C7777;
  font-size: 0.9vw;
  transform: translateY(810%);
}

.openerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45%;
  height: 50%;
  background-color: rgba(241, 241, 241, 0.0784313725);
  padding: 0.5em;
  border-radius: 7px;
}

.openerButton {
  transform: translateY(2vh);
  display: inline-block;
  background-color: transparent;
  border: 1.75px solid rgba(161, 161, 255, 0.9058823529);
  color: #fff;
  font-size: 1.5vw;
  padding: 0.5em 1em;
  transition: background-color 0.3s ease;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
}
.openerButton:hover {
  background-color: color-mix(in srgb, rgba(161, 161, 255, 0.9058823529) 20%, transparent);
  text-shadow: 0px 0px 6px rgba(161, 161, 255, 0.9058823529);
  cursor: pointer;
}

.iframeWindowOpen {
  z-index: 100000;
  position: absolute;
  width: calc(100% - 2vh);
  height: calc(100% - 10vh - 4.5vh + 1.5vh);
  bottom: 5.5vh;
  right: 1vh;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.02);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
  transition: all 0.4s ease;
}

.iframeWindowOpen:hover {
  user-select: none;
}
.iframeWindowOpen:hover.hoverable {
  width: calc((100% - 2vh) * 1 + 0vh);
  height: calc((100% - 10vh) * 1 + 0vh - 4.5vh + 1.5vh);
  right: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  bottom: 5.5vh;
  border-radius: calc(5.6px + 0vh + 2px);
  box-shadow: 0px 0px 10px rgba(161, 161, 255, 0.6739764706);
  border: 1.5px solid rgba(161, 161, 255, 0.9058823529);
}

.menuOpen-iframeWindowOpen {
  width: calc(100% - 1vh - 25vh - 2vh);
  height: calc(100% - 10vh - 4.5vh + 1.5vh);
  bottom: 5.5vh;
  right: 1vh;
}

.menuOpen-iframeWindowOpen:hover {
  user-select: none;
}
.menuOpen-iframeWindowOpen:hover.hoverable {
  width: calc((100% - 1vh) * 1 + 0vh - 25vh - 2vh);
  height: calc((100% - 10vh) * 1 + 0vh - 3vh);
  right: calc(1vh - (100% - 2vh) * 0 / 2 - 0vh);
  bottom: 5.5vh;
}

.mainWindowClose {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 50%;
  right: 50%;
  border: 1.75px solid transparent;
  border-radius: 7px;
  box-shadow: 0px 4px 4px transparent;
  background-color: transparent;
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: transparent;
  transition: all 0.4s ease;
}

.hidden {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  color: #fff;
  user-select: none;
  background-image: url(https://w.wallhaven.cc/full/wy/wallhaven-wyp7ep.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: url(https://w.wallhaven.cc/full/wy/wallhaven-wyp7ep.jpg);
  overflow: hidden;
  height: 100%;
}

#particles-js {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0vw;
  height: 0vh;
  z-index: 0;
}

a {
  color: #4b1c79;
}

/*
    I wrote all of this my self, its all mostly free to use, just credit me pls if you are going to use it
*//*# sourceMappingURL=index.css.map */