@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* ---------------
*   Huge thanks to riftriot
*   for helping me set up
*   UV on this project
*   Follow his GitHub:
*   https://github.com/Riftriot
*/
.mainWindow {
  position: absolute;
  width: 98%;
  height: 76%;
  bottom: 10.5%;
  right: 1%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.mainWindow:hover {
  user-select: none;
}
.mainWindow:hover.hoverable {
  width: calc(98% + 0vh);
  height: calc(84.5% + 0vh - 8.5%);
  right: calc(1% - 0vh);
  bottom: calc(2% - 0vh + 8.5%);
  border-radius: calc(13.6px + (14.5vh - 1%) * 1 + 0vh - (14.5vh - 1%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.menuOpen-mainWindow {
  width: calc(98% - 10.5vw - 1%);
  height: 76%;
  bottom: 10.5%;
  right: 1%;
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.menuOpen-mainWindow:hover {
  user-select: none;
}
.menuOpen-mainWindow:hover.hoverable {
  width: calc(98% + 0vh - 10.5vw - 1%);
  height: calc(84.5% + 0vh - 8.5%);
  right: calc(1% - 0vh);
  bottom: calc(2% - 0vh + 8.5%);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.waybar {
  position: absolute;
  width: 98%;
  height: 10%;
  top: 2%;
  right: 1%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

#urlInput {
  position: absolute;
  left: 10.875vh;
  height: 6.5vh;
  width: 72.5vw;
  margin: 0;
  border: transparent;
  font-family: "Open Sans";
  font-size: 2.784vh;
  color: #ffffff;
  border-radius: 100vw;
  padding: 1em;
  background-color: rgba(241, 241, 241, 0.0784313725);
}
#urlInput:focus, #urlInput:hover {
  outline: none;
  background-color: rgba(241, 241, 241, 0.1254901961);
}

#reloadButton {
  position: absolute;
  left: 3.625vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: transparent;
  font-family: "Open Sans";
  font-size: 4.176vh;
  color: #ffffff;
}
#reloadButton:hover {
  cursor: pointer;
}

#searchButton {
  position: absolute;
  left: calc(65.25vw + 14.5vh - 1em);
  transform: translateY(-3%) translateX(-50%);
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: transparent;
  font-family: "Open Sans";
  font-size: 4.176vh;
  color: #7C7777;
  font-weight: 100;
}
#searchButton:hover {
  cursor: pointer;
}

.iframeWindow {
  position: absolute;
  width: 98%;
  height: 76%;
  bottom: 10.5%;
  right: -200vw;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.iframeWindow:hover {
  user-select: none;
}
.iframeWindow:hover.hoverable {
  width: calc(98% + 0vh);
  height: calc(84.5% + 0vh - 8.5%);
  right: -200vw;
  bottom: calc(2% - 0vh + 8.5%);
  border-radius: calc(13.6px + (14.5vh - 1%) * 1 + 0vh - (14.5vh - 1%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
}

.menuOpen-iframeWindow {
  width: calc(98% - (14.5vh - 1% + 10%) - 1%);
  height: 76%;
  bottom: 10.5%;
  right: -200vw;
}

.menuOpen-iframeWindow:hover {
  user-select: none;
}
.menuOpen-iframeWindow:hover.hoverable {
  width: calc(98% + 0vh - (14.5vh - 1% + 10%) - 1%);
  height: calc(84.5% + 0vh - 8.5%);
  right: -200vw;
  bottom: calc(2% - 0vh + 8.5%);
}

*, *:before, *:after {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.hidden {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 50vmin;
  height: 50vmin;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  perspective: 1000vmin;
}

.bars {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 6.5vmin 3vmin;
  animation: mirror1 2s ease 0s infinite;
}

.bars + .bars {
  transform: rotate(90deg) rotateX(180deg);
  animation: mirror2 2s ease 0.5s infinite;
}

.bar {
  width: 44vmin;
  height: 3vmin;
  margin: 2vmin 0vmin;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 33%, transparent 33% 67%, rgba(255, 255, 255, 0) 67% 100%);
  animation: grow 1s ease-in-out 0s infinite alternate;
  background-size: 300%;
  background-position-x: -203%;
}

@keyframes mirror1 {
  0%, 47%, 99.99%, 100% {
    transform: rotate(180deg) rotateX(0deg);
  }
  47.01%, 99.98% {
    transform: rotate(180deg) rotateX(180deg);
  }
}
@keyframes mirror2 {
  0%, 47%, 99.99%, 100% {
    transform: rotate(90deg) rotateX(180deg);
  }
  47.01%, 99.98% {
    transform: rotate(90deg) rotateX(0deg);
  }
}
@keyframes grow {
  0%, 25% {
    background-position-x: -297%;
  }
  45%, 55% {
    background-position-x: -250%;
  }
  75%, 100% {
    background-position-x: -203%;
  }
}
.bar:nth-child(2) {
  animation-delay: -0.02s;
}

.bar:nth-child(3) {
  animation-delay: -0.04s;
}

.bar:nth-child(4) {
  animation-delay: -0.06s;
}

.bar:nth-child(5) {
  animation-delay: -0.08s;
}

.bar:nth-child(6) {
  animation-delay: -0.1s;
}

.bar:nth-child(7) {
  animation-delay: -0.12s;
}

.bars:nth-child(2) .bar:nth-child(1) {
  animation-delay: -0.501s;
}

.bars:nth-child(2) .bar:nth-child(2) {
  animation-delay: -0.52s;
}

.bars:nth-child(2) .bar:nth-child(3) {
  animation-delay: -0.54s;
}

.bars:nth-child(2) .bar:nth-child(4) {
  animation-delay: -0.56s;
}

.bars:nth-child(2) .bar:nth-child(5) {
  animation-delay: -0.58s;
}

.bars:nth-child(2) .bar:nth-child(6) {
  animation-delay: -0.6s;
}

.bars:nth-child(2) .bar:nth-child(7) {
  animation-delay: -0.62s;
}

.iframeWindow {
  color: #fff;
}

.menu {
  position: absolute;
  width: calc(14.5vh - 1%);
  height: 10%;
  top: 2%;
  left: 1%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease, font-size 0.4s ease;
}
.menu .menuIcon {
  fill: #ffffff;
  stroke: #ffffff;
  height: 130.5%;
  transition: none;
}
.menu .menuLogo {
  font-style: normal;
  text-decoration: none;
  font-family: "Open Sans";
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0);
  color: transparent;
  user-select: none;
  cursor: default;
  font-size: 0;
}

.menu:hover {
  width: calc((14.5vh - 1%) * 1 + 0vh);
  height: calc(10% + 0vh);
  left: calc(1% - 0vh);
  top: calc(2% - 0vh);
  border-radius: calc(13.6px + (14.5vh - 1%) * 1 + 0vh - (14.5vh - 1%) + 2px);
  background-color: rgba(20, 20, 20, 0.8196078431);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.menu.menuOpen {
  position: absolute;
  width: 10.5vw;
  height: 10%;
  top: 2%;
  left: 1%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  background-color: rgba(37, 37, 42, 0.8196078431);
  backdrop-filter: blur(0.0875vw) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}
.menu.menuOpen .menuIcon {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0);
  height: 0;
  width: 0;
}
.menu.menuOpen .menuLogo {
  fill: #ffffff;
  stroke: #ffffff;
  color: aliceblue;
  cursor: pointer;
  font-size: 8.12vh;
  font: "Open Sans";
  text-decoration: none;
}

.menu.menuOpen:hover {
  width: calc(10.5vw + 0vh);
  height: calc(10% + 0vh);
  left: calc(1% - 0vh);
  top: calc(2% - 0vh);
  border-radius: calc(13.6px + (14.5vh - 1%) * 1 + 0vh - (14.5vh - 1%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  background-color: rgba(37, 37, 42, 0.8196078431);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  backdrop-filter: blur(0.1166666667vw) brightness(0.9) contrast(1.15);
}

.fullMenu {
  position: absolute;
  width: 10.5vw;
  height: 76%;
  bottom: 10.5%;
  left: -20vw;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border: 1.75px solid linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(156, 156, 156, 0.3568627451) 100%);
  background-color: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(37, 37, 42, 0.8196078431) 100%);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.menuOpen-fullMenu {
  width: 10.5vw;
  height: 76%;
  bottom: 10.5%;
  left: 1%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  background-color: rgba(37, 37, 42, 0.8196078431);
  backdrop-filter: blur(0.0875vw) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, transform 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, border 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease, fill 0.4s ease;
}

.menuOpen-fullMenu:hover {
  width: calc(10.5vw + 0vh);
  height: calc(84.5% + 0vh - 8.5%);
  bottom: calc(2% - 0vh + 8.5%);
  left: calc(1% - 0vh);
  border-radius: calc(13.6px + (14.5vh - 1%) * 1 + 0vh - (14.5vh - 1%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  background-color: rgba(37, 37, 42, 0.8196078431);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  backdrop-filter: blur(0.1166666667vw) brightness(0.9) contrast(1.15);
}

.botBar {
  user-select: none;
  font-style: normal;
  text-decoration: none;
  font-family: "Open Sans";
  position: absolute;
  font-size: 2.75vh;
  margin: 0;
  padding: 0;
  bottom: 2%;
  color: #fdfdfd;
  height: 6.5%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  transition: background-color 0.4s ease, transform 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, right 0.4s ease, top 0.4s ease, border-radius 0.4s ease, stroke 0.4s ease, backdrop-filter 0.4s ease, box-shadow 0.4s ease, border 0.4s ease, fill 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
}
.botBar:hover {
  height: calc(6.5% + 0vh);
  bottom: calc(2% - 0vh);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.hidden {
  display: none;
}

.clock {
  display: none;
}

.discord {
  left: 1%;
  width: 48.5vw;
}

.githubLink {
  right: 1%;
  width: 48.5vw;
}

.email {
  display: none;
}

.credits {
  display: none;
}

.battery {
  display: none;
}

.aboutBlankOpener {
  position: absolute;
  width: 48.5%;
  height: 87.5%;
  bottom: 10.5%;
  right: 1%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.4s ease;
}
.aboutBlankOpener:hover {
  user-select: none;
  width: calc(48.5% + 0vh);
  height: calc(87.5% + 0vh);
  right: calc(1% - 0vh);
  bottom: calc(2% - 0vh + 8.5%);
  border-radius: calc(13.6px + (14.5vh - 1%) * 1 + 0vh - (14.5vh - 1%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.standardOpener {
  position: absolute;
  width: 48.5%;
  height: 87.5%;
  bottom: 10.5%;
  left: 1%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.4s ease;
}
.standardOpener:hover {
  user-select: none;
  width: calc(48.5% + 0vh);
  height: calc(87.5% + 0vh);
  left: calc(1% - 0vh);
  bottom: calc(2% - 0vh + 8.5%);
  border-radius: calc(13.6px + (14.5vh - 1%) * 1 + 0vh - (14.5vh - 1%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(0.7vw) brightness(1.2) contrast(1.15);
}

.openerText {
  position: absolute;
  font-family: "Open Sans";
  font-size: 1.4vw;
  color: #fff;
  top: 45%;
}

.openerSubText {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: "Open Sans";
  color: #7C7777;
  font-size: 0.9vw;
  transform: translateY(810%);
}

.openerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45%;
  height: 50%;
  background-color: rgba(241, 241, 241, 0.0784313725);
  padding: 0.5em;
  border-radius: 17px;
}

.openerButton {
  transform: translateY(2vh);
  display: inline-block;
  background-color: transparent;
  border: 1.75px solid rgba(231, 0, 82, 0.9058823529);
  color: #fff;
  font-size: 1.5vw;
  padding: 0.5em 1em;
  transition: background-color 0.3s ease;
  border-radius: 17px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
}
.openerButton:hover {
  background-color: color-mix(in srgb, rgba(231, 0, 82, 0.9058823529) 20%, transparent);
  text-shadow: 0px 0px 6px rgba(231, 0, 82, 0.9058823529);
  cursor: pointer;
}

.iframeWindowOpen {
  z-index: 100000;
  position: absolute;
  width: 98%;
  height: 76%;
  bottom: 10.5%;
  right: 1%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.8196078431);
  transition: all 0.4s ease;
}

.iframeWindowOpen:hover {
  user-select: none;
}
.iframeWindowOpen:hover.hoverable {
  width: calc(98% + 0vh);
  height: calc(84.5% + 0vh - 8.5%);
  right: calc(1% - 0vh);
  bottom: calc(2% - 0vh + 8.5%);
  border-radius: calc(13.6px + (14.5vh - 1%) * 1 + 0vh - (14.5vh - 1%) + 2px);
  box-shadow: 0px 0px 10px rgba(231, 0, 82, 0.6739764706);
  border: 1.5px solid rgba(231, 0, 82, 0.9058823529);
}

.menuOpen-iframeWindowOpen {
  width: calc(98% - 10.5vw - 1%);
  height: 76%;
  bottom: 10.5%;
  right: 1%;
}

.menuOpen-iframeWindowOpen:hover {
  user-select: none;
}
.menuOpen-iframeWindowOpen:hover.hoverable {
  width: calc(98% + 0vh - 10.5vw - 1%);
  height: calc(84.5% + 0vh - 8.5%);
  right: calc(1% - 0vh);
  bottom: calc(2% - 0vh + 8.5%);
}

.mainWindowClose {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 50%;
  right: 50%;
  border: 1.75px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  background-color: rgba(20, 20, 20, 0.8196078431);
  backdrop-filter: blur(1vh) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.4s ease;
}

.hidden {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  color: #fff;
  background-image: url(https://w.wallhaven.cc/full/wy/wallhaven-wyp7ep.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  /*
  height: 121vh;
  transform: translateY(-6.95vh);
  */
}

#particles-js {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/*
// I wrote all of this my self, its all mostly free to use, just credit me pls if you are going to use it

// General notes, code snippets, or ideas:

// when it comes to the svg for the xorro logo in the menu, I used: https://danmarshall.github.io/google-font-to-svg-path/
// the size is set to 300, and the rest is shown in my svg implamentation in the html ;3
*//*# sourceMappingURL=mIndex.css.map */