@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* ---------------
*   Huge thanks to riftriot
*   for helping me set up
*   UV on this project
*   Follow his GitHub:
*   https://github.com/Riftriot
*/
:root {
  /* Background */
  --bgCol: url(https://w.wallhaven.cc/full/wy/wallhaven-wyp7ep.jpg);
  /* Window Properties */
  --windowCol: #141414d1;
  --windowBlur: 1vh;
  --windowBrightness: 1;
  --windowContrast: 1.1;
  --frontElementCol: #f1f1f114;
  --textCol: #fff;
  --textColSec: #fff9;
  --linkCol: #4b1c79;
  /* Shadow properties */
  --shadowCol: rgba(255, 255, 255, 0.02);
  --shadowRad: 0px 4px 4px;
  /* Margins */
  --uniMargin: 1vh;
  --waybarHeight: 10vh;
  --urlInputLength: 43vw;
  --botBarHeight: 4.5vh;
  --botBarFontSize: 0.8;
  --fullMenuSize: 25vh;
  /* Border */
  --borderRad: 7px;
  --borderThickness: 1.75px;
  --borderCol: #9c9c9c5b;
  /* Transitions */
  --transitionSpeed: 0.4s;
  --fastTransitionSpeed: 0.1s;
  /* Menu */
  --menuButtonCol: var(--textCol);
  /* Active */
  --activeTransition: var(--transitionSpeed);
  --activeWindowCol: #25252ad1;
  /* Full Menu */
  --fullMenuOffset: 10px;
  /* Hover Vars */
  --hoverConst: 0vh;
  --hoverCoefficient: 1;
  --hoverWindowBlur: 0.7vw;
  --hoverWindowBrightness: 1.2;
  --hoverWindowContrast: 1.15;
  --hoverBorderCol: #a1a1ffe7;
  --hoverWindowCol: #141414d1;
  --hoverBorderThickness: 1.5px;
  --hoverBorderRad: 0.8;
  --hoverBorderOpacity: rgba(255, 255, 255, 0.744);
  --hoverShadowCol: rgba(
      calc(red(var(--hoverBorderCol)) * red(var(--hoverBorderOpacity)) / 255),
      calc(green(var(--hoverBorderCol)) * green(var(--hoverBorderOpacity)) / 255),
      calc(blue(var(--hoverBorderCol)) * blue(var(--hoverBorderOpacity)) / 255),
      calc(alpha(var(--hoverBorderCol)) * alpha(var(--hoverBorderOpacity)))
  );
  --hoverShadowRad: 0px 0px var(--fullMenuOffset);
  --hoverFrontElementCol: #f1f1f120;
  --doParticles: 1;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 5vh;
  font-family: "Open Sans";
  user-select: none;
  color: var(--textCol);
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80vw;
  height: 80vh;
  background-color: var(--frontElementCol);
  padding: var(--uniMargin);
  border-radius: var(--borderRad);
  z-index: 999985;
  border: var(--borderThickness) solid var(--borderCol);
  box-shadow: var(--shadowRad) var(--shadowCol);
  left: 50%;
  top: 7vw;
  transform: translateX(-50%);
  font-size: 1.5vh;
  color: var(--menuButtonCol);
  margin-bottom: calc(var(--uniMargin));
  text-decoration: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  transition: all var(--transitionSpeed) ease;
  user-select: none;
}
textarea::-webkit-scrollbar {
  display: none;
}
textarea:hover {
  width: calc(80vw * var(--hoverCoefficient) + var(--hoverConst));
  height: calc(80vh * var(--hoverCoefficient) + var(--hoverConst));
  left: calc(50% * var(--hoverCoefficient) - var(--hoverConst) / 2);
  top: calc(7vw * var(--hoverCoefficient) - var(--hoverConst) / 2);
  box-shadow: var(--hoverShadowRad) var(--hoverShadowCol);
  border: var(--hoverBorderThickness) solid var(--hoverBorderCol);
  cursor: pointer;
}
textarea:focus {
  outline: none;
}/*# sourceMappingURL=settings.css.map */