:root {
	/* Background */
	--bgCol: #d1d1d1;

	/* Window Properties */
	--windowCol: #141414d1;
	--windowBlur: 1vh;
	--windowBrightness: 1;
	--windowContrast: 1.1;
	--frontElementCol: #f00;
	--textCol: #fff;
	--textColSec: #0f09;
	--linkCol: #4b1c79;

	/* Shadow properties */
	--shadowCol: rgba(255, 255, 255, 0.2);
	--shadowRad: 0px 4px 4px;

	/* Margins */
	--uniMargin: 1vh;
	--waybarHeight: 10vh;
	--urlInputLength: 43vw;
	--botBarHeight: 4.5vh;
	--botBarFontSize: 0.8;
	--fullMenuSize: 25vh;

	/* Border */
	--borderRad: 7px;
	--borderThickness: 1.75px;
	--borderCol: #f00;

	/* Transitions */
	--transitionSpeed: 0.4s;
	--fastTransitionSpeed: 0.1s;

	/* Menu */
	--menuButtonCol: var(--textCol);

	/* Active */
	--activeTransition: var(--transitionSpeed);
	--activeWindowCol: #494949;
	--activeWindowBlur: calc(var(--hoverWindowBlur) / 8);
	--activeWindowBrightness: var(--hoverWindowBrightness);
	--activeWindowContrast: var(--hoverWindowContrast);

	/* Full Menu */
	--fullMenuOffset: 10px;

	/* Hover Vars */
	--hoverConst: 0vh;
	--hoverCoefficient: 1;
	--hoverWindowBlur: 0.7vw;
	--hoverWindowBrightness: 1.2;
	--hoverWindowContrast: 1.15;
	--hoverBorderCol: #0f0;
	--hoverWindowCol: #00f;
	--hoverBorderThickness: 1.5px;
	--hoverBorderRad: 0.8;
	--hoverBorderOpacity: rgba(255, 255, 255, 1);
	--hoverShadowCol: rgba(
		calc(red(var(--hoverBorderCol)) * red(var(--hoverBorderOpacity)) / 255),
		calc(
			green(var(--hoverBorderCol)) * green(var(--hoverBorderOpacity)) /
				255
		),
		calc(
			blue(var(--hoverBorderCol)) * blue(var(--hoverBorderOpacity)) / 255
		),
		calc(alpha(var(--hoverBorderCol)) * alpha(var(--hoverBorderOpacity)))
	);
	--hoverShadowRad: 0px 0px var(--fullMenuOffset);
	--hoverFrontElementCol: #f1f1f120;
	--hoverActiveWindowBlur: calc(var(--hoverWindowBlur) / 6);
	--hoverActiveWindowBrightness: calc(var(--hoverWindowBrightness) - 0.3);
	--hoverActiveWindowContrast: var(--hoverWindowContrast);

	--doParticles: 1;

	--debugBg: #141414;
}
