:root {
	/* Background */
	--bgCol: #070609;

	/* Window Properties */
	--windowCol: #14121d;
	--windowBlur: 0vh;
	--windowBrightness: 1;
	--windowContrast: 1.1;
	--frontElementCol: #f1f1f114;
	--textCol: #fff;
	--textColSec: #fff9;
	--linkCol: #5a2491;

	/* Shadow properties */
	--shadowCol: var(--borderCol);
	--shadowRad: 0px 4px 0px;

	/* Margins */
	--uniMargin: 1vh;
	--waybarHeight: 10vh;
	--urlInputLength: 43vw;
	--botBarHeight: 4.5vh;
	--botBarFontSize: 0.8;
	--fullMenuSize: 25vh;

	/* Border */
	--borderRad: 7px;
	--borderThickness: 1.75px;
	--borderCol: #ffffff10;

	/* Transitions */
	--transitionSpeed: 0.4s;
	--fastTransitionSpeed: 0.1s;

	/* Menu */
	--menuButtonCol: var(--textCol);

	/* Active */
	--activeTransition: var(--transitionSpeed);
	--activeWindowCol: #1a1730;

	/* Full Menu */
	--fullMenuOffset: 3px;

	/* Hover Vars */
	--hoverConst: 0vh;
	--hoverCoefficient: 1;
	--hoverWindowBlur: 0.7vw;
	--hoverWindowBrightness: 1.2;
	--hoverWindowContrast: 1.15;
	--hoverBorderCol: #a1a1ffe7;
	--hoverWindowCol: #191725;
	--hoverBorderThickness: var(--borderThickness);
	--hoverBorderRad: 0.8;
	--hoverBorderOpacity: rgba(255, 255, 255, 1);
	--hoverShadowCol: #a1a1ffe7;
	--hoverShadowRad: 0px 0px var(--fullMenuOffset);
	--hoverFrontElementCol: #f1f1f120;

	--doParticles: 0;
}
